// Layout
.l-nexus {
  #header {
    position: initial;
    top: initial;
    z-index: initial;
    box-shadow: none;
    background-color: transparent;
  }

  > .s-main,
  #footer {
    .container {
      max-width: map-get($container-max-widths, "md");

      @include media-breakpoint-up(md) {
        --bs-gutter-x: 3rem;
        margin-left: $offcanvas-horizontal-width-xs;
        max-width: calc(100% - $offcanvas-horizontal-width-xs);
      }

      @include media-breakpoint-up(xl) {
        margin-left: $offcanvas-horizontal-width-sm;
        max-width: calc(100% - $offcanvas-horizontal-width-sm);
      }

      @include media-breakpoint-up(xxl) {
        margin-left: $offcanvas-horizontal-width;
        max-width: calc(100% - $offcanvas-horizontal-width);
      }

      @include media-breakpoint-up(xxxl) {
        max-width: map-get($container-max-widths, "xxl");
      }
    }

    .s-title-02 {
      background-color: $white;

      @include media-breakpoint-up(xl) {
        position: sticky;
        top: 0;
        z-index: $zindex-sticky;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1.5rem;
        z-index: 1;
        width: 100%;
        height: 1.5rem;
        background: linear-gradient($white, transparent);
      }

      &__container::after {
        transform: translateX(-16px);
        width: calc(100% + 32px);

        @include media-breakpoint-up(md) {
          transform: translateX(-24px);
          width: calc(100% + 48px);
        }

        @include media-breakpoint-up(xxxl) {
          width: calc(100% + 24px);
        }
      }
    }
  }

  [id] {
    scroll-margin-top: 1.5rem !important;
  }
}

// Header
.s-header-nexus {
  position: relative;
  color: $white;
  background-color: $tertiary;

  @include media-breakpoint-up(md) {
    display: none;
  }

  a {
    color: $white;
  }

  &__row {
    @extend .justify-content-between;
  }

  &__col {
    min-height: $header-height-mobile;

    @include media-breakpoint-up(md) {
      min-height: $header-height;
    }

    &--logo-service,
    &--nav {
      column-gap: map-get($spacers, 1);

      i {
        font-size: 1.5rem !important;
        font-weight: $font-weight-medium;
      }
    }
  }
}

#offcanvasNexus {
  top: 0;
  left: 0;
  width: $offcanvas-horizontal-width;
  background-color: $tertiary;
  border-right: $offcanvas-border-width solid $offcanvas-border-color;
  transform: translateX(-100%);

  @include media-breakpoint-up(md) {
    border: 0;
    z-index: $zindex-fixed;
    box-shadow: none;
    visibility: visible;
    transform: none;
    transition: transform 0s linear !important;
    width: $offcanvas-horizontal-width-xs;
  }

  @include media-breakpoint-up(xl) {
    width: $offcanvas-horizontal-width-sm;
  }

  @include media-breakpoint-up(xxl) {
    width: $offcanvas-horizontal-width;
  }

  &.show:not(.hiding),
  &.showing {
    transform: none;
  }

  &.hiding,
  &.show,
  &.showing {
    visibility: visible;
  }

  .offcanvas-header,
  .offcanvas-body,
  .offcanvas-footer {
    padding: map-get($spacers, 3);
    color: $white;
    font-size: $font-size-xs;
    border: none;
    text-align: left;

    @include media-breakpoint-between(md, xl) {
      text-align: center;
    }

    a {
      color: $white;
    }

    strong {
      display: block;
      text-transform: uppercase;
      color: rgba($white, 0.7);
      margin-bottom: map-get($spacers, 2);
      line-height: $line-height-sm;
      font-size: $font-size-sm;

      @include media-breakpoint-between(md, xl) {
        font-size: 0.625rem;
        margin-left: - map-get($spacers, 2);
        margin-right: - map-get($spacers, 2);
      }

      &:not(:first-child) {
        margin-top: map-get($spacers, 3);
      }
    }

    ul {
      @extend .w-100;
      @extend .list-unstyled;
      @extend .mb-0;
      @extend .p-0;

      li {
        &:not(:last-child) {
          margin-bottom: map-get($spacers, 1);
        }
      }
    }

    .btn-nexus {
      padding: map-get($spacers, 2) !important;
      width: 100%;
      justify-content: start;

      @include media-breakpoint-between(md, xl) {
        width: auto;
      }

      &.btn-ico {
        @include media-breakpoint-between(md, xl) {
          *:not(div):first-child:not(:only-child) {
            margin-right: 0;
          }
        }

        [class^="ri-"] {
          min-height: 40px;
          min-width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &.btn-logo {
        @extend .btn-ico;
      }
    }
  }
}

// Btn
.btn-nexus {
  --bs-btn-border-color: $tertiary !important;
  color: $white;
  font-weight: $font-weight-medium;
  position: relative;
  border-radius: $border-radius-lg !important;
  background-color: $tertiary !important;
  border-color: $tertiary !important;
  text-align: left;

  &.active,
  &.focus,
  &.hover,
  &:active,
  &:focus,
  &:hover {
    color: $white !important;
    background-color: rgba($white, 0.2) !important;
  }

  &.disabled,
  &:disabled {
    color: $disabled-color;
    background-color: transparent !important;
    border-color: transparent !important;
  }

  .badge {
    height: map-get($spacers, 4);
    width: map-get($spacers, 4);
    justify-content: center;

    @include media-breakpoint-between(md, xl) {
      position: absolute;
      right: 0;
    }
  }

  [class^="ri-"] {
    font-weight: $font-weight-bold;
  }
}
