.c-aside-filters {
  &__btn__collapse {
    @extend .btn;
    @extend .btn-block;
    @extend .btn-outline-primary;
    @extend .btn-ico;
    @extend .mb-3;
    display: block;

    @include media-breakpoint-up(md) {
      display: none !important;
    }
  }

  &__card {
    @extend .card;
    @extend .mb-3;

    &__body {
      @extend .card-body;

      legend {
        float: none;
        @extend .fs-base;
        @extend .font-weight-bold;
        margin-bottom: map-get($spacers, 3);
      }

      ul:not(.select2-selection__rendered) {
        @extend .list-unstyled;
        @extend .mb-0;

        li:not(:last-child) {
          @extend .mb-2;
        }
      }
    }
  }
}
