.badge {
  @extend .d-inline-flex;
  @extend .flex-row;
  @extend .align-items-center;
  vertical-align: middle;
  gap: map-get($spacers, 1);

  &-base {
    font-size: $font-size-base;
    padding: $badge-padding-y $badge-padding-x;

    > i {
      font-weight: $font-weight-base;
    }
  }

  &-sm {
    font-size: $font-size-sm;
    padding: $badge-padding-y $badge-padding-x;

    > i {
      @extend .ri-sm;
      font-weight: $font-weight-base;
    }
  }

  &-xs {
    font-size: $font-size-xs;
    font-weight: $font-weight-normal;
    padding: 0.2rem $badge-padding-x 0.25rem $badge-padding-x;

    > i {
      @extend .ri-xs;
      font-weight: $font-weight-base;
    }
  }

  + .badge {
    @extend .ms-1;
  }

  &.rounded-circle {
    --bs-badge-padding-x: #{$badge-padding-y};
    aspect-ratio: 1/1;
  }
}

a.badge {
  text-decoration: none;
}

.badge-group {
  display: block;
  margin-bottom: -0.25rem;

  .badge {
    @extend .me-1;
    @extend .mb-1;

    & + .badge {
      @extend .ms-0;
    }
  }
}
