.btn-block {
  width: 100%;
  display: block;
}

.btn-close {
  float: right;
  transition: $transition-base;
}

disabled,
.btn:disabled,
select:disabled {
  pointer-events: none;
}

.btn[data-bs-toggle="tooltip"]:disabled,
.btn[data-bs-toggle="tooltip"].disabled {
  pointer-events: initial !important;
}

.btn-form-control {
  color: $input-color;
  border-color: $input-border-color;
  background-color: $input-bg;
  font-weight: $font-weight-base !important;
  @extend .text-start;

  &.hover,
  &:hover,
  &.active,
  &:active,
  &.focus,
  &:focus {
    color: $input-color;
    border-color: $input-focus-border-color;
    background-color: $input-bg;
  }

  &.disabled,
  &:disabled,
  &[readonly] {
    color: $disabled-color;
  }
}

.btn-link {
  color: $button;
  font-weight: $font-weight-bold;
  text-decoration: none !important;
  border-color: transparent !important;

  &.active,
  &.focus,
  &.hover,
  &:active,
  &:focus,
  &:hover {
    color: $button-light;

    &.btn-ico {
      text-decoration: none;

      span:not([class^="badge-"]) {
        text-decoration: underline;
      }
    }
  }

  &.disabled,
  &:disabled {
    color: $disabled-color;
    border-color: transparent;
  }
}

.btn-white {
  color: $button;
  font-weight: $font-weight-bold;

  &.active,
  &.focus,
  &.hover,
  &:active,
  &:focus,
  &:hover {
    color: $button-light !important;
    background-color: $disabled-color-light !important;
  }

  &.disabled,
  &:disabled {
    color: $disabled-color;
    border-color: $disabled-color-light;
    background-color: $disabled-color-light !important;
  }
}

.btn-link-white {
  color: $white !important;
  font-weight: $font-weight-bold;
  text-decoration: none !important;
  border-color: transparent !important;

  &.active,
  &.focus,
  &.hover,
  &:active,
  &:focus,
  &:hover {
    color: $white !important;
    border-color: transparent !important;

    &.btn-ico {
      text-decoration: none;

      span:not([class^="badge-"]) {
        text-decoration: underline;
      }
    }
  }

  &.disabled,
  &:disabled {
    color: $disabled-color !important;
  }
}

.btn-outline-transparent {
  background-color: transparent !important;
  border-color: transparent !important;

  &.active,
  &.focus,
  &.hover,
  &:active,
  &:focus,
  &:hover {
    background-color: transparent !important;
    border-color: transparent !important;
  }
}

.btn-ico {
  display: inline-flex;

  span {
    display: inline-flex;
  }

  *:not(div):first-child:not(:only-child) {
    margin-right: map-get($spacers, 2);
  }
}

.btn-ico-only {
  @extend .d-inline-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  @extend .px-0;
  aspect-ratio: 1 / 1;

  min-height: $input-height;
  width: $input-height;

  &.btn-sm {
    min-height: $input-height-sm;
    width: $input-height-sm;
  }

  &.btn-lg {
    min-height: $input-height-lg;
    width: $input-height-lg;
  }

  &.btn-xl {
    min-height: $input-height-xl;
    width: $input-height-xl;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: $input-height;

  > [class^="ri-"] {
    font-weight: $font-weight-medium;
    @extend .ri-1x;
  }

  &.btn-sm {
    min-height: $input-height-sm;

    > [class^="ri-"] {
      font-weight: $font-weight-normal;
      @extend .ri-sm;
    }
  }

  &.btn-lg {
    min-height: $input-height-lg;

    > [class^="ri-"] {
      font-weight: $font-weight-medium;
      @extend .ri-xxl;
    }
  }

  &.btn-xl {
    min-height: $input-height-xl;

    > [class^="ri-"] {
      font-weight: $font-weight-medium;
      @extend .ri-xxl;
    }
  }
}

.btn-group-action {
  // Prevent double borders when buttons are next to each other
  > .btn-group:not(:first-child),
  > .btn:not(:first-child) {
    @extend .ms-2;
  }

  // Reset rounded corners
  > .btn-group:not(:last-child) > .btn,
  > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: $btn-border-radius;
    border-bottom-right-radius: $btn-border-radius;
  }

  > .btn-group:not(:first-child) > .btn,
  > .btn:not(:first-child) {
    border-top-left-radius: $btn-border-radius;
    border-bottom-left-radius: $btn-border-radius;
  }
}

.btn-like {
  i {
    position: relative;
    font-family: "remixicon" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    vertical-align: middle;
    @extend .ri-xl;
    @extend .text-danger;

    &::after {
      position: absolute;
      z-index: 0;
      left: 0;
      opacity: 0;
      content: "\ee0a";
    }

    &::after,
    &::before {
      transition: $transition-base;
    }
  }

  &:hover {
    i::before {
      content: "\ee0a";
    }
  }

  &:focus {
    i::before {
      content: "\ee0a";
    }

    i::after {
      animation: grow 0.6s ease-out;
    }
  }

  @keyframes grow {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
}

.btn-partner {
  border-radius: 50rem;
  color: $button;
  background-color: $info-lighter;
  padding: 6px 16px;
  border: none;
  font-size: $font-size-sm;
  @extend .d-inline-flex;
  align-items: center;
  justify-content: center;

  &.active,
  &.focus,
  &.hover,
  &:active,
  &:focus,
  &:hover {
    color: $button-light !important;
    background-color: $info-light !important;
  }

  &:focus {
    outline-offset: 2px;
    outline: $blue 2px solid;
  }

  &:focus:not(:focus-visible) {
    outline: 0;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: $blue 2px solid;
  }

  &.disabled,
  &:disabled {
    pointer-events: none;
    background-color: $disabled-color;
    border-color: $disabled-color;
    color: $white;
  }

  &--diagoriente {
    background-image: url("/images/logo-partner-diagoriente.svg");
    background-repeat: no-repeat;
    background-position: top left 16px;
    padding: 6px 16px 8px 46px;
  }
}

.btn-dropdown-filter {
  @extend .btn;
  @extend .rounded-pill;
  font-weight: $font-weight-medium;
  color: $black !important;
  background-color: $nuance-09 !important;

  &.active,
  &.focus,
  &.hover,
  &:active,
  &:focus,
  &:hover {
    color: $black !important;
    background-color: $nuance-08 !important;
    border-color: $nuance-08 !important;
  }

  &.disabled,
  &:disabled {
    color: $disabled-color !important;
    border-color: $disabled-color-light !important;
    background-color: $disabled-color-light !important;
  }

  &.has-selected-item {
    border-color: $black !important;
    font-weight: $font-weight-bold;

    &.active,
    &.focus,
    &.hover,
    &:active,
    &:focus,
    &:hover {
      border-color: $black !important;
    }
  }
}

.btn-dropdown-filter-group {
  display: flex;
  gap: map-get($spacers, 2);
  flex-wrap: wrap;
}
