.btn-link {
  color: $button;
  font-weight: $font-weight-bold;
  text-decoration: none;

  &.active,
  &.focus,
  &.hover,
  &:active,
  &:focus,
  &:hover {
    color: $button-light;

    &.btn-ico {
      text-decoration: none;

      span:not([class^='badge-']) {
        text-decoration: underline;
      }
    }
  }

  &.disabled,
  &:disabled {
    color: $nuance-06;
  }
}

.btn-ico {
  @extend .d-inline-flex;
  @extend .align-items-center;
  @extend .justify-content-center;

  span {
    @extend .d-inline-block;
  }

  *:first-child:not(:only-child) {
    margin-right: map-get($spacers, 2);
  }
}

.btn-ico-only {
  @extend .d-inline-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  @extend .px-0;
  aspect-ratio: 1 / 1;

  width: 46px;

  &.btn-sm {
    width: 38px;
  }

  &.btn-lg {
    width: 54px;
  }
}

.btn-group-action {

  // Prevent double borders when buttons are next to each other
  >.btn-group:not(:first-child),
  >.btn:not(:first-child) {
    @extend .ml-2;
  }

  // Reset rounded corners
  >.btn-group:not(:last-child)>.btn,
  >.btn:not(:last-child):not(.dropdown-toggle) {
    @include border-right-radius($btn-border-radius);
  }

  >.btn-group:not(:first-child)>.btn,
  >.btn:not(:first-child) {
    @include border-left-radius($btn-border-radius);
  }
}

.btn-like {
  i {
    position: relative;
    font-family: 'remixicon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    vertical-align: middle;
    @extend .ri-xl;
    @extend .text-danger;

    &::after {
      position: absolute;
      z-index: 0;
      left: 0;
      opacity: 0;
      content: '\ee0a';
    }

    &::after,
    &::before {
      transition: $transition-base;
    }
  }

  &:hover {
    i::before {
      content: '\ee0a';
    }
  }

  &:focus {
    i::before {
      content: '\ee0a';
    }

    i::after {
      animation: grow .6s ease-out;
    }
  }

  @keyframes grow {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
}

.btn-inclusion-connect {
  display: inline-flex;
  align-items: center;
  height: 58px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  padding: 8px 16px 8px 62px;
  border-radius: 50rem;
  cursor: pointer;
  box-shadow: none;
  user-select: none;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
  color: $white;
  border: 4px solid $button;
  background-color: $button;
  background-image: url('../images/logo-inclusion-connect-bg.svg');
  background-repeat: no-repeat;

  &.is-on-two-lines {
    strong {
      display: block;
    }
  }

  &.active,
  &.focus,
  &.hover,
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    color: $white;
    border-color: $button-light;
    background-color: $button-light;
  }

  &:focus {
    outline-offset: 2px;
    outline: $blue 2px solid;
  }

  &:focus:not(:focus-visible) {
    outline: 0;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: $blue 2px solid;
  }

  &.disabled,
  &:disabled {
    pointer-events: none;
    background-color: $disable-color;
    border-color: $disable-color;
  }
}
