.btn-link {
  color: $button;
  font-weight: $font-weight-bold;
  text-decoration: none;

  &.hover,
  &:hover,
  &.active,
  &:active,
  &.focus,
  &:focus {
    color: $button-light;
  }

  &.btn-ico {
    text-decoration: none;

    span {
      text-decoration: underline;
    }
  }

  &.disabled,
  &:disabled {
    color: $nuance-06;
  }
}

.btn-ico {
  @extend .d-inline-flex;
  @extend .align-items-center;
  @extend .justify-content-center;

  span {
    @extend .d-inline-block;
  }

  *:first-child:not(:only-child) {
    margin-right: map-get($spacers, 2);
  }
}

.btn-ico-only {
  @extend .d-inline-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  @extend .px-0;
  aspect-ratio: 1 / 1;

  width: 50px;

  &.btn-sm {
    width: 40px;
  }

  &.btn-lg {
    width: 62px;
  }
}

.btn-group-action {
  // Prevent double borders when buttons are next to each other
  > .btn:not(:first-child),
  > .btn-group:not(:first-child) {
    @extend .ml-2;
  }

  // Reset rounded corners
  > .btn:not(:last-child):not(.dropdown-toggle),
  > .btn-group:not(:last-child) > .btn {
    @include border-right-radius($btn-border-radius);
  }

  > .btn:not(:first-child),
  > .btn-group:not(:first-child) > .btn {
    @include border-left-radius($btn-border-radius);
  }
}
