.c-card,
.card {
  transition: border-color 0.3s ease-in-out;

  .card-header {
    padding-bottom: 0;
  }

  .card-header,
  .card-footer {
    background-color: transparent;
    border: none !important;
  }

  .card-footer {
    padding:  map-get($spacers, 2);

    > * {
      margin: $modal-footer-margin-between * .5;
    }
  }

  .card-body {
    > p:last-child,
    > ul:last-child {
      @extend .mb-0;
    }
  }

  .card-link {
    @extend .text-decoration-underline;
  }

  &--plateforme {
    border-bottom: 10px solid $primary;

    &:hover {
      border-bottom-color: $primary;
    }
  }

  &--marche {
    border-bottom: 10px solid $marche;

    &:hover {
      border-bottom-color: $marche;
    }
  }

  &--pilotage {
    border-bottom: 10px solid $pilotage;

    &:hover {
      border-bottom-color: $pilotage;
    }
  }

  &--communaute {
    border-bottom: 10px solid $communaute;

    &:hover {
      border-bottom-color: $communaute;
    }
  }

  &--emploi {
    border-bottom: 10px solid $emploi;

    &:hover {
      border-bottom-color: $emploi;
    }
  }

  &.has-one-link-inside {

    &:hover {
      border-color: $button-light;
    }

    &.c-card--plateforme {

      &:hover {
        border-bottom-color: $primary;
      }
    }

    &.c-card--marche {

      &:hover {
        border-bottom-color: $marche;
      }
    }

    &.c-card--pilotage {

      &:hover {
        border-bottom-color: $pilotage;
      }
    }

    &.c-card--communaute {

      &:hover {
        border-bottom-color: $communaute;
      }
    }

    &.c-card--emploi {

      &:hover {
        border-bottom-color: $emploi;
      }
    }
  }

  &.has-links-inside {

    &:hover {
      border-color: $border-color-hover;
    }

    &.c-card--plateforme {

      &:hover {
        border-bottom-color: $primary;
      }
    }

    &.c-card--marche {

      &:hover {
        border-bottom-color: $marche;
      }
    }

    &.c-card--pilotage {

      &:hover {
        border-bottom-color: $pilotage;
      }
    }

    &.c-card--communaute {

      &:hover {
        border-bottom-color: $communaute;
      }
    }

    &.c-card--emploi {

      &:hover {
        border-bottom-color: $emploi;
      }
    }
  }
}
