.c-card {

  .card-header {
    padding-bottom: 0;
  }

  .card-header,
  .card-footer {
    background-color: transparent;
  }

  .card-footer {
    padding:  map-get($spacers, 2);

    > * {
      margin: $modal-footer-margin-between * .5;
    }
  }

  .card-body {
    > p:last-child,
    > ul:last-child {
      @extend .mb-0;
    }
  }

  &--plateforme {
    border-bottom: 10px solid $primary;
  }

  &--marche {
    border-bottom: 10px solid $marche;
  }

  &--pilotage {
    border-bottom: 10px solid $pilotage;
  }

  &--communaute {
    border-bottom: 10px solid $communaute;
  }

  &--emploi {
    border-bottom: 10px solid $emploi;
  }

  &--mini {
    border-bottom: 0;
  }

  &--noshadow {
    box-shadow: none !important;
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }


  &--hovershadow {

    &:hover {
      box-shadow: $box-shadow-xl;
    }
  }
}
