.c-form {
  background-color: $white;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow-lg;
  padding: map-get($spacers, 3);

  @include media-breakpoint-up(lg) {
    padding: map-get($spacers, 5);
  }

  legend {
    @extend .h2;
  }

  fieldset {
    border-bottom: 1px solid $border-color;
    margin-bottom: map-get($spacers, 3);

    @include media-breakpoint-up(lg) {
      padding-bottom: map-get($spacers, 2);
      margin-bottom: map-get($spacers, 5);
    }
  }

  .alerts-sticky-top {
    @include media-breakpoint-up(lg) {
      position: sticky;
      z-index: 1020;
      top: 131px;
    }
  }
}
