.c-form {
  background-color: $white;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow-lg;
  padding: map-get($spacers, 3);

  @include media-breakpoint-up(lg) {
    padding: map-get($spacers, 5);
  }

  legend {
    @extend .h2;
  }

  hr {
    margin-top: 0;
    margin-bottom: map-get($spacers, 5);
  }

  .alert p.has-ellipsis {
    display: initial;
    text-overflow: initial;
    white-space: initial;
    overflow: initial;

    @include media-breakpoint-up(lg) {
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &:hover {
        text-overflow: initial;
        white-space: initial;
        overflow: initial;
      }
    }
  }
}
