.c-search {
  &__bar {
    border-radius: $border-radius-lg;
    background-color: $white;
    border: 1px solid $border-color;

    .input-group-text,
    .form-control,
    .select2-selection,
    .select2-selection--single {
      border-color: $white !important;
    }

    .select2-selection--single {
      padding-right: 12px;
      background-image: none !important;
    }

    .input-group-text {
      padding-left: 8px;
      padding-right: 8px;
    }

    .select2-selection__rendered {
      white-space: nowrap !important;
    }

    .input-group {
      .select2-selection {
        border-right: 0 !important;
        background-image: none !important;
        border-radius: $border-radius-lg !important;
      }
    }

    &__grid {
      --gridChild: 1;

      &:has(> *:nth-child(3)) {
        --gridChild: 2;
      }

      display: grid;
      grid-column-gap: map-get($spacers, 2);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

      @include media-breakpoint-up(lg) {
        grid-row-gap: map-get($spacers, 2);
        grid-template-columns: repeat(var(--gridChild), 1fr) auto;
        grid-template-rows: 1fr;
      }

      > .input-group {
        padding: map-get($spacers, 2);
        border-bottom: 1px solid $border-color;

        @include media-breakpoint-up(lg) {
          border-right: 1px solid $border-color;
          border-bottom: none;
        }
      }
    }
  }

  &__list {
    position: relative;
    margin-top: map-get($spacers, 2);
    margin-bottom: map-get($spacers, 2);
    font-size: $font-size-sm;

    &:empty,
    &:not(.c-search__list:has(> div)) {
      min-height: 0;
      @extend .my-0;
    }

    &__title {
      position: absolute;
      top: 5px;
      left: 0;
      z-index: 1;
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
      }
    }

    &__slider {
      display: block;
      min-height: 32px;
      border-right: 1px solid $border-color;
      padding-top: 4px;
      margin-right: 36px;

      @include media-breakpoint-up(md) {
        margin-left: 180px;
      }

      > div:not(.tns-outer) {
        height: 28px;
        @extend .m-0;
        overflow: hidden;

        > div {
          display: inline;
          padding-right: map-get($spacers, 2);
        }
      }

      .tns-item {
        font-size: $font-size-sm !important;
      }

      .tns-controls {
        [data-controls="prev"] {
          box-shadow: $box-shadow-sm;
          left: -#{map-get($spacers, 1)};
        }
        [data-controls="next"] {
          box-shadow: $box-shadow-sm;
          right: -#{map-get($spacers, 1)};
        }
      }
    }

    &__settings {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }
}
