
.nav-tabs {
  border-bottom: 1px solid $border-color;
  @extend .pb-4;
  @extend .pt-3;

  .nav-item {
    @extend .mx-4;
    font-weight: $font-weight-bold;

    &:first-child {
      @extend .ml-0;
      padding-left: 5px;
    }

    &:first-child {
      @extend .mr-0;
      padding-right: 5px;
    }

    .nav-link {
      @extend .px-0;
      line-height: $line-height-sm;
      position: relative;
      color: $primary;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -5px;
        width: calc(100% + 10px);
        height: 5px;
        border-radius: $rounded-pill;
        transition: $transition-base;
        background-color: transparent;
      }

      &.active::after,
      &:hover::after {
        background-color: $primary;
      }
    }
  }

  &--marche {
    .nav-item .nav-link.active::after,
    .nav-item .nav-link:hover:after {
      background-color: $marche;
    }
  }

  &--communaute {
    .nav-item .nav-link.active::after,
    .nav-item .nav-link:hover::after {
      background-color: $communaute;
    }
  }

  &--pilotage {
    .nav-item .nav-link.active::after,
    .nav-item .nav-link:hover::after {
      background-color: $pilotage;
    }
  }

  &--emploi {
    .nav-item .nav-link.active::after,
    .nav-item .nav-link:hover::after {
      background-color: $emploi;
    }
  }
}
