.tag {
  display: inline-block;
  padding: 0.25rem $badge-padding-x;
  font-size: $font-size-xs;
  font-weight: $font-weight-bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius($badge-border-radius);
  height: 20px;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;

  > i {
    @extend .ri-xs;
    margin-right: map-get($spacers, 1);
    margin-left: -2px;
    font-weight: $font-weight-bold;
  }

  &-lg {
    padding: 0.25rem $badge-padding-x;
    font-size: $font-size-sm;
    height: 24px;
  }

  // Empty tags collapse automatically
  &:empty {
    display: none;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}


.tag-group {
  display: block;
  margin-bottom: -0.50rem;

  .tag {
    @extend .me-2;
    @extend .mb-2;

    & + .tag {
      @extend .ms-0;
    }
  }
}
