.toast-container {
  position: fixed;
  z-index: $zindex-toast;
  right: map-get($spacers, 3);
  width: calc(100% - 32px);
  max-width: none;
  bottom: 16px;
  top: initial;

  @include media-breakpoint-up(sm) {
    width: auto;
    max-width: $toast-max-width;
    bottom: initial;
    top: calc(#{$header-height-mobile} + 16px);
  }

  @include media-breakpoint-up(xl) {
    top: calc(#{$header-height} + 16px);
  }
}

.toast {
  width: 100%;
  min-width: $toast-max-width;
  max-width: none;

  @include media-breakpoint-up(sm) {
    max-width: $toast-max-width;
  }

  &--info {
    color: $info;
    border-color: $info;

    .toast-header {
      color: $info;
      background-color: $info-lightest;

      .btn-close {
        --#{$prefix}btn-close-bg: #{escape-svg(
            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'  fill='#{$info}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>")
          )};
      }
    }
  }

  &--danger {
    color: $danger;
    border-color: $danger;

    .toast-header {
      color: $danger;
      background-color: $danger-lightest;

      .btn-close {
        --#{$prefix}btn-close-bg: #{escape-svg(
            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'  fill='#{$danger}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>")
          )};
      }
    }
  }

  &--success {
    color: $success;
    border-color: $success;

    .toast-header {
      color: $success;
      background-color: $success-lightest;

      .btn-close {
        --#{$prefix}btn-close-bg: #{escape-svg(
            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'  fill='#{$success}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>")
          )};
      }
    }
  }

  &--warning {
    color: $warning;
    border-color: $warning;

    .toast-header {
      color: $warning;
      background-color: $warning-lightest;

      .btn-close {
        --#{$prefix}btn-close-bg: #{escape-svg(
            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'  fill='#{$warning}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>")
          )};
      }
    }
  }
}
