<section class="s-articles-cols-01 s-articles-cols-01--marche">
  <div class="s-articles-cols-01__container container">
    <div class="s-articles-cols-01__row row">
        <div class="s-articles-cols-01__col s-articles-cols-01__col--title col-12">
          <h3 class="h2"><strong>Les acteurs de l’inclusion dans l’emploi</strong></h3>
        </div>
    </div>
    <div class="s-articles-cols-01__row row">
      <div class="s-articles-cols-01__col s-articles-cols-01__col--article col-12 col-lg-6">
        <article>
          <h5 class="h3"><strong>Les réseaux de L’IAE</strong></h5>
          <p>Les réseaux de l’Insertion par l’Activité Economique sont des unions de structures qui défendent les intérêts de leurs adhérents et qui les accompagnent sur plusieurs missions : </p>
          <ul>
            <li>L’animation du réseau de l’Insertion par l’Activité Economique</li>
            <li>Mise en valeur des Structures de l’Insertion par l’Activité Économique et de promotion des valeurs de l'Économie Sociale et Solidaire.</li>
            <li>Intermédiation avec les acheteurs et articulation avec les facilitateurs</li>
            <li>Création de groupement de prestataires (co-traitance)</li>
          </ul>
          <p>Chaque réseau a ses propres spécificités mais se rejoignent autour d’ambitions communes :</p>
          <ul>
            <li>Valoriser les initiatives existantes</li>
            <li>Capitaliser les savoir-faire des adhérents, partenaires et réseaux</li>
            <li>Respecter les valeurs de l'Économie Sociale et Solidaire en plaçant les hommes et les femmes au coeur de l’économie : la personne et l’objet social priment sur le capital.</li>
          </ul>
        </article>
      </div>
      <div class="s-articles-cols-01__col s-articles-cols-01__col--article col-12 col-lg-6">
        <article>
          <h5 class="h3"><strong>Les facilitateurs</strong></h5>
          <p>Le facilitateur offre un appui pour mettre en oeuvre des clauses sociales dans la commande publique. Il vise à développer l’insertion des personnes éloignées de l’emploi en s’assurant auprès des entreprises qu’elles en recrutent un pourcentage afin de répondre aux besoins des marchés publics. Crée en 2007, cette fonction est exercée par plus de 300 professionnels.</p>
          <p>
            <a href="https://docs.google.com/presentation/d/e/2PACX-1vRd5lfQWHNEiUNw8yQqBfBnkGyaud5g440IsBvZm9XLEuawQNOfG91MwBlP24Z66A/pub?start=false&loop=false&delayms=3000&slide=id.p1" target="_blank" class="text-decoration-none">
              <strong>Accéder à une documentation sur les facilitateurs</strong>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19">
                  <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)"></path>
              </svg>
            </a>
          </p>
        </article>
      </div>
    </div>
    <div class="s-articles-cols-01__row row">
      <div class="s-articles-cols-01__col s-articles-cols-01__col--article col-12 col-lg-3">
        <article>
          <h5 class="h3"><strong>Ateliers et chantiers d’insertion (ACI)</strong></h5>
          <p>Les ateliers et chantiers d’insertion proposent un accompagnement et une activité professionnelle à des personnes en parcours d’insertion. Ces activités s’inscrivent dans le champ de l’utilité sociale, ce qui permet de ne pas distordre la concurrence. La commercialisation de leurs biens est encadrée : les recettes engendrées ne peuvent couvrir qu’une part inférieure à 30% des charges liées à leurs activités (50% dans certains cas).</p>
          <p>
            <strong>Source Avise</strong>
          </p>
        </article>
      </div>
      <div class="s-articles-cols-01__col s-articles-cols-01__col--article col-12 col-lg-3">
        <article>
          <h5 class="h3"><strong>Ateliers et chantiers d’insertion (ACI)</strong></h5>
          <p>Chantiers d’insertion proposent un accompagnement et une activité professionnelle à des personnes en parcours d’insertion. Ces activités s’inscrivent dans le champ de l’utilité sociale, ce qui permet de ne pas distordre la concurrence. La commercialisation de leurs biens est encadrée : les recettes engendrées ne peuvent couvrir qu’une part inférieure à 30% des charges liées à leurs activités (50% dans certains cas).</p>
          <p>
            <strong>Source Avise</strong>
          </p>
        </article>
      </div>
      <div class="s-articles-cols-01__col s-articles-cols-01__col--article col-12 col-lg-3">
        <article>
          <h5 class="h3"><strong>Ateliers et chantiers d’insertion (ACI)</strong></h5>
          <p>Des personnes en parcours d’insertion. Ces activités s’inscrivent dans le champ de l’utilité sociale, ce qui permet de ne pas distordre la concurrence. La commercialisation de leurs biens est encadrée : les recettes engendrées ne peuvent couvrir qu’une part inférieure à 30% des charges liées à leurs activités (50% dans certains cas).</p>
          <p>
            <strong>Source Avise</strong>
          </p>
        </article>
      </div>
      <div class="s-articles-cols-01__col s-articles-cols-01__col--article col-12 col-lg-3">
        <article>
          <h5 class="h3"><strong>Ateliers et chantiers d’insertion (ACI)</strong></h5>
          <p>Chantiers d’insertion proposent un accompagnement et une activité professionnelle à des personnes en parcours d’insertion. Ces activités s’inscrivent dans le champ de l’utilité sociale, ce qui permet de ne pas distordre la concurrence. La commercialisation de leurs biens est encadrée : les recettes engendrées ne peuvent couvrir qu’une part inférieure à 30% des charges liées à leurs activités (50% dans certains cas).</p>
          <p>
            <strong>Source Avise</strong>
          </p>
        </article>
      </div>
      <div class="s-articles-cols-01__col s-articles-cols-01__col--article col-12 col-lg-3">
        <article>
          <h5 class="h3"><strong>Ateliers et chantiers d’insertion (ACI)</strong></h5>
          <p>Chantiers d’insertion proposent un accompagnement et une activité professionnelle à des personnes en parcours d’insertion. Ces activités s’inscrivent dans le champ de l’utilité sociale, ce qui permet de ne pas distordre la concurrence. La commercialisation de leurs biens est encadrée : les recettes engendrées ne peuvent couvrir qu’une part inférieure à 30% des charges liées à leurs activités (50% dans certains cas).</p>
          <p>
            <strong>Source Avise</strong>
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
