<section class="s-article-picture-01 <% if (locals.modifier != undefined) { %><%= modifier %> <% } %>">
  <div class="s-article-picture-01__container container container-max-lg">
    <div class="s-article-picture-01__row row">
      <div class="s-article-picture-01__col s-article-picture-01__col--picture col-12 col-lg-6 d-flex align-items-center px-lg-4">
        <picture>
          <a href="" rel="noopener" target="_blank"><img src="https://via.placeholder.com/800x600" class="img-fluid" alt=""></a>
        </picture>
      </div>
      <div class="s-article-picture-01__col s-article-picture-01__col--article col-12 col-lg-6 d-flex align-items-center">
        <article>
          <h2 class="s-article-picture-01__col--article__title h1">Article + Picture 01</h2>
          <h3 class="h2">Un exemple avec une col <code>.s-article-picture-01__col--picture</code> <% if (locals.modifier != undefined) { %> et le modifier <code>.<%= modifier %></code> <% } %></h3>
          <ol>
            <li>
              <ul>
                <li>item de liste</li>
                <li>item de liste</li>
                <li>item de liste</li>
                <li>item de liste</li>
              </ul>
            </li>
            <li>
              <ul>
                <li>item de liste</li>
                <li>item de liste</li>
                <li>item de liste</li>
                <li>item de liste</li>
              </ul>
            </li>
          </ol>
          <ul>
            <li>item de liste</li>
            <li>item de liste</li>
            <li>item de liste</li>
            <li>item de liste</li>
          </ul>
          <p class="s-article-picture-01__col--article__cta">
            <a href="" rel="noopener" target="_blank" class="btn btn-primary btn-ico">
              <span>Contactez-nous</span>
              <svg width="17" height="15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.5 13.505a.75.75 0 01-.744.745H2.244a.745.745 0 01-.744-.745v-.755H15V3.975l-6 5.4-7.5-6.75V1.5a.75.75 0 01.75-.75h13.5a.75.75 0 01.75.75v12.005zM3.325 2.25L9 7.357l5.675-5.107H3.325zM0 9.75h6v1.5H0v-1.5zM0 6h3.75v1.5H0V6z" fill="currentColor" />
              </svg>
            </a>
          </p>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="s-article-picture-01 <% if (locals.modifier != undefined) { %><%= modifier %> <% } %>">
  <div class="s-article-picture-01__container container container-max-lg">
    <div class="s-article-picture-01__row row">
      <div class="s-article-picture-01__col s-article-picture-01__col--figure d-none d-lg-inline-flex col-lg-5 d-lg-flex align-items-center px-lg-4">
        <figure>
          <div>
            <div>
              <span>
                <strong>37 189</strong>
                recrutements
              </span>
            </div>
            <div>
              <span>
                <strong>4 030</strong>
                structures d'insertion
              </span>
            </div>
          </div>
          <img src="https://via.placeholder.com/800x800" class="img-fluid" alt="">
        </figure>
      </div>
      <div class="s-article-picture-01__col s-article-picture-01__col--article col-12 col-lg-7 d-flex align-items-center">
        <article>
          <h2 class="s-article-picture-01__col--article__title h1-hero"><strong>Un exemple</strong></h2>
          <h3 class="h2">Un exemple avec une col <code>.s-article-picture-01__col--figure</code> <% if (locals.modifier != undefined) { %> et le modifier <code>.<%= modifier %></code> <% } %></h3>
          <figure class="d-block d-lg-none">
            <div>
              <div>
                <span>
                  <strong>37&nbsp;189</strong>
                  recrutements
                </span>
              </div>
              <div>
                <span>
                  <strong>4&nbsp;030</strong>
                  structures d'insertion
                </span>
              </div>
            </div>
            <img src="https://via.placeholder.com/800x800" class="img-fluid" alt="">
          </figure>
          <p>Les emplois de l'inclusion est un service numérique de délivrance des PASS IAE et de mise en relation d'employeurs solidaires avec des candidats éloignés de l'emploi par le biais de tiers ou en autoprescription.</p>
          <p class="s-article-picture-01__col--article__cta">
            <a href="" rel="noopener" target="_blank" class="btn btn-primary btn-ico">
              <span>Accéder aux emplois</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                <path fill="currentColor" fill-rule="nonzero" stroke="currentColor" d="M1.964 8.95h11.03L9.51 12.737a.451.451 0 00.037.646.474.474 0 00.66-.037L14.386 8.8l.035-.043.033-.05.013-.05V8.539c0-.012.033-.02.033-.044v-.151l-.014-.05-.019-.03-.034-.045-4.193-4.566a.474.474 0 00-.66-.037.452.452 0 00-.036.646l3.45 3.777H1.963a.46.46 0 00-.464.455.46.46 0 00.464.455z"></path>
              </svg>
            </a>
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
