<section class="s-article-picture-01 <% if (locals.modifier != undefined) { %><%= modifier %> <% } %>">
  <div class="s-article-picture-01__container container">
    <div class="s-article-picture-01__row row">
      <div class="s-article-picture-01__col s-article-picture-01__col--picture col-12 col-lg-6 d-flex align-items-center px-lg-4">
        <picture>
          <a href="" rel="noopener" target="_blank"><img src="https://via.placeholder.com/800x600" class="img-fluid" alt=""></a>
        </picture>
      </div>
      <div class="s-article-picture-01__col s-article-picture-01__col--article col-12 col-lg-6 d-flex align-items-center">
        <article>
          <h2>Article + Picture 01</h2>
          <h3><code>.h3</code> Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
          <p class="lead"><code>p.lead</code> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore et odio accusantium aperiam, architecto ducimus eius dicta.</p>
          <p><code>p</code> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore et odio accusantium aperiam, architecto ducimus eius dicta.</p>
          <ol>
            <li>
              <ul>
                <li>item de liste</li>
                <li>item de liste</li>
                <li>item de liste</li>
                <li>item de liste</li>
              </ul>
            </li>
            <li>
              <ul>
                <li>item de liste</li>
                <li>item de liste</li>
                <li>item de liste</li>
                <li>item de liste</li>
              </ul>
            </li>
          </ol>
          <ul>
            <li>item de liste</li>
            <li>item de liste</li>
            <li>item de liste</li>
            <li>item de liste</li>
          </ul>
          <p class="s-article-picture-01__col__cta">
            <a href="" rel="noopener" target="_blank" class="btn btn-primary btn-ico">
              <span>Contactez-nous</span>
              <svg width="17" height="15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.5 13.505a.75.75 0 01-.744.745H2.244a.745.745 0 01-.744-.745v-.755H15V3.975l-6 5.4-7.5-6.75V1.5a.75.75 0 01.75-.75h13.5a.75.75 0 01.75.75v12.005zM3.325 2.25L9 7.357l5.675-5.107H3.325zM0 9.75h6v1.5H0v-1.5zM0 6h3.75v1.5H0V6z" fill="currentColor" />
              </svg>
            </a>
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
