<header class="bg-primary py-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-3">
        <a href="https://betagouv.github.io/itou-theme/" class="h2 text-white mb-0 text-decoration-none">Itou Theme</a>
      </div>
      <div class="col-12 col-lg-9">

        <!-- <div class="ais-InstantSearch">
          <div class="right-panel">
            <div id="searchbox"></div>
            <div id="hits"></div>
            <div id="pagination"></div>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</header>
