<section class="c-prefooter <%= modifier %>">
  <div class="c-prefooter__container container">
    <div class="c-prefooter__row row">
      <div class="c-prefooter__col col-12 col-sm-auto d-flex align-items-center">
        <div class="c-prefooter__logo">
          <img src="images/<%= currentPrefooterLogo %>" alt="">
        </div>
      </div>
      <div class="c-prefooter__col col-12 col-sm d-flex align-items-center justify-content-start justify-content-sm-end justify-content-lg-start">
        <p class="mb-0">Le site de la plateforme <br class="d-none d-lg-inline">de l'inclusion dédiée <br class="d-none d-lg-inline"><%= currentPrefooterBaseline %></p>
      </div>
      <div class="c-prefooter__col col-12 col-lg-6 d-flex align-items-center">
        <ul class="c-prefooter__gridlist">
          <li><a href="" rel="noopener" target="_blank" class="is-external">Item footer lien</a></li>
          <li><a href="" rel="noopener" target="_blank">Item footer lien</a></li>
          <li><a href="" rel="noopener" target="_blank">Item footer lien</a></li>
          <li><a href="" rel="noopener" target="_blank">Item footer lien</a></li>
          <li><a href="" rel="noopener" target="_blank" class="is-external">Item footer lien</a></li>
          <li><a href="" rel="noopener" target="_blank">Item footer lien</a></li>
          <li><a href="" rel="noopener" target="_blank">Item footer lien</a></li>
          <li><a href="" rel="noopener" target="_blank">Item footer lien</a></li>
          <li><a href="" rel="noopener" target="_blank" class="is-external">Item footer lien</a></li>
          <li><a href="" rel="noopener" target="_blank">Item footer lien</a></li>
          <li><a href="" rel="noopener" target="_blank">Item footer lien</a></li>
          <li><a href="" rel="noopener" target="_blank" class="is-external">Item footer lien</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
