<section class="s-title-02">
  <div class="s-title-02__container container">
    <div class="s-title-02__row row">
      <div class="s-title-02__col col-12">
        <div class="c-prevstep">
          <button type="button" class="btn btn-ico btn-link ps-0" aria-label="Retour vers la page xxxx / vers la liste de xxx">
            <i class="ri-arrow-drop-left-line ri-xl font-weight-medium" aria-hidden="true"></i>
            <span>Retour</span>
          </button>
        </div>
        <h1>Titre de page</h1>
        <h2>Un exemple avec des niveaux de titres</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
        <div class="alert alert-info alert-dismissible fade show" role="status">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
          <div class="row">
            <div class="col-auto pe-0">
              <i class="ri-information-line ri-xl text-info" aria-hidden="true"></i>
            </div>
            <div class="col">
              <p class="mb-2"><strong>Mobiliser la solution</strong></p>
              <p class="mb-0">Because I want to feel motivated and like I’m working hard and doing something good! Working from home but not having work to do is boring!</p>
            </div>
            <div class="col-12 col-md-auto mt-3 mt-md-0 d-flex align-items-center justify-content-center">
              <button class="btn btn-sm btn-primary">Label boutton</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="s-title-02">
  <div class="s-title-02__container container">
    <div class="s-title-02__row row">
      <div class="s-title-02__col col-12">
        <div class="c-prevstep">
          <button type="button" class="btn btn-ico btn-link ps-0" aria-label="Retour vers la page xxxx / vers la liste de xxx">
            <i class="ri-arrow-drop-left-line ri-xl font-weight-medium" aria-hidden="true"></i>
            <span>Retour</span>
          </button>
        </div>
        <div class="d-flex flex-column flex-md-row gap-3 mb-3 justify-content-md-between">
          <h1 class="m-0">Titre de page</h1>
          <a href="" class="btn btn-lg btn-primary btn-ico">
            <i class="ri-bear-smile-line font-weight-medium" aria-hidden="true"></i>
            <span>Action principale</span>
          </a>
        </div>
        <h2>Un exemple avec des niveaux de titres</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
        <ul class="s-tabs-01__nav nav nav-tabs mb-0" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" tabindex="-1">Profile</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">Contact</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="exemple-01-tab" data-bs-toggle="tab" href="#exemple-01" role="tab" aria-controls="exemple-01" aria-selected="false" tabindex="-1">Exemple tab 01</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="exemple-02-tab" data-bs-toggle="tab" href="#exemple-02" role="tab" aria-controls="exemple-02" aria-selected="false" tabindex="-1">
              <span>Exemple tab 02</span>
              <span class="badge badge-sm rounded-pill ms-2">1279</span>
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="exemple-03-tab" data-bs-toggle="tab" href="#exemple-03" role="tab" aria-controls="exemple-03" aria-selected="false" tabindex="-1">
              <i class="ri-briefcase-4-line font-weight-normal me-1" aria-hidden="true"></i>
              <span>Exemple tab 03</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="s-title-02">
  <div class="s-title-02__container container">
    <div class="s-title-02__row row">
      <div class="s-title-02__col col-12">
        <h1>Title 01</h1>
        <h2>Un exemple avec des niveaux de titres</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
        <div class="c-box c-box--action">
          <div class="form-row align-items-center gx-3">
            <div class="form-group col col-lg-auto">
              <a href="" class="btn btn-lg btn-white btn-block btn-ico">
                <i class="ri-check-line font-weight-medium" aria-hidden="true"></i>
                <span>Accepter</span>
            </a>
            </div>
            <div class="form-group col col-lg-auto">
              <a href="" class="btn btn-lg btn-outline-white btn-block btn-ico">
                <i class="ri-close-line font-weight-medium" aria-hidden="true"></i>
                <span>Décliner</span>
              </a>
            </div>
            <div class="form-group col-12 col-lg-auto">
              <a href="" class="btn btn-lg btn-link-white btn-block btn-ico">
                <i class="ri-history-line font-weight-medium" aria-hidden="true"></i>
                <span>Mettre en liste d'attente</span>
              </a>
            </div>
            <div class="form-group col-12 col-lg d-lg-flex justify-content-lg-end">
              <button id="transfer_to_button" class="btn btn-lg btn-link-white btn-block w-lg-auto dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                Transférer vers
              </button>
              <div class="dropdown-menu" aria-labelledby="transfer_to_button">
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#transfer_confirmation_modal_3858">
                  <div>
                    <span class="badge badge-xs rounded-pill bg-primary">EI</span> <span>Tata auto</span>
                  </div>
                </a>
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#transfer_confirmation_modal_3853">
                  <div>
                    <span class="badge badge-xs rounded-pill bg-primary">EI</span> <span>🎅El Garage Martinet Nord</span>
                  </div>
                </a>
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#transfer_confirmation_modal_3854">
                  <div>
                    <span class="badge badge-xs rounded-pill bg-primary">EI</span> <span>🤠 El Garage Martinet Ouest</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
