// Import all of Bootstrap's CSS
@import "bootstrap/scss/mixins/banner";
// @include bsBanner("");

@import "bootstrap/scss/functions";

// Custom variables
@import "base/variables";
@import "bootstrap/scss/variables-dark";

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Custom mixins & utilities
@import "base/mixins";
@import "base/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

// Base
@import "base/custom";
@import "base/utilities-custom";
@import "base/print";

// Vendors
@import "vendors/remixicon";
@import "vendors/tarteaucitron";
@import "vendors/duetdatepicker";
@import "vendors/tiny-slider";
@import "vendors/select2";
@import "vendors/introjs";
@import "vendors/easymde";

// Components
@import "components/alert";
@import "components/accordion";
@import "components/breadcrumb";
@import "components/button";
@import "components/card";
@import "components/stepper";
@import "components/list";
@import "components/list-group";
@import "components/form";
@import "components/dropzone";
@import "components/dropdown";
@import "components/badge";
@import "components/tabs";
@import "components/offcanvas-filters";
@import "components/tag";
@import "components/box";
@import "components/info";
@import "components/toast";
@import "components/table";
@import "components/title";
@import "components/navbar";
@import "components/skiplinks";
@import "components/search";

// Sections
@import "sections/main";
@import "sections/header";
@import "sections/postheader";
@import "sections/footer";
@import "sections/article-figure-01";
@import "sections/article-picture-01";
@import "sections/page-menu-01";
@import "sections/articles-cols-01";
@import "sections/home-title-01";
@import "sections/hero-title-01";
@import "sections/title-01";
@import "sections/title-02";
@import "sections/form-01";
@import "sections/section";
@import "sections/cms";
@import "sections/tabs-01";
@import "sections/box";

// Layouts
@import "layouts/layout";

// Pages
@import "pages/page";

// Nexus
@import "nexus/nexus";


// A11Y
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
