//  margin-right: calc(50% - 50vw);

.container {
  max-width: map-get($container-max-widths, 'xl');
}

figure {
  @extend .mb-0;
}

ul {
  padding-left: map-get($spacers, 3);
}

// * > p:last-of-type:not(:first-of-type),
// * > ul:last-of-type:not(:first-of-type) {
//   @extend .mb-0;
// }

.badge-lg {
  padding: ($badge-padding-y * 2) ($badge-padding-x * 2);
}

.btn {
  transition: $transition-base;
}

.btn.disabled,
.btn:disabled {
  pointer-events: none;
}

.form-control:disabled,
.form-control[readonly] {
  pointer-events: none;
  opacity: $btn-disabled-opacity;
}

.btn-ico {

  span {
    @extend .d-inline-block;
    @extend .mr-1;
  }
}

.btn-primary {

  &.hover,
  &:hover {
    color: $primary;
    background-color: transparent;
    border-color: $primary;
  }

  &.active,
  &:active,
  &.focus,
  &:focus {
    color: $primary !important;
    background-color: $emploi-light !important;
    border-color:  $primary !important;
  }
}

.btn-outline-primary {

  &.hover,
  &:hover {
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }

  &.active,
  &:active,
  &.focus,
  &:focus {
    color: $primary !important;
    background-color: $emploi-light !important;
    border-color:  $primary !important;
  }
}

.btn-form-control {
  color: $input-color;
  border-color: $input-border-color;
  background-color: $input-bg;
  font-weight: $font-weight-base !important;
  @extend .text-left;

  &.hover,
  &:hover,
  &.active,
  &:active,
  &.focus,
  &:focus {
    color: $input-color;
    border-color: $input-focus-border-color;
    background-color: $input-bg;
  }

  &.disabled,
  &:disabled {
    background-color: $gray-400;
  }
}

.btn-marche {
  background-color: $marche-lighter;
  border-color: $marche-lighter;
  color: $primary;

  &.hover,
  &:hover,
  &.disabled,
  &:disabled {
    background-color: $marche-light;
    border-color: $marche-light;
    color: $primary;
  }

  &.active,
  &:active,
  &.focus,
  &:focus {
    background-color: $marche-light !important;
    border-color: $primary !important;
    color: $primary !important;
  }
}

.btn-communaute {
  background-color: $communaute-lighter;
  border-color: $communaute-lighter;
  color: $primary;

  &.hover,
  &:hover,
  &.disabled,
  &:disabled {
    background-color: $communaute-light;
    border-color: $communaute-light;
    color: $primary;
  }

  &.active,
  &:active,
  &.focus,
  &:focus {
    background-color: $communaute-light !important;
    border-color: $primary !important;
    color: $primary !important;
  }
}

.btn-emploi {
  background-color: $emploi-lighter;
  border-color: $emploi-lighter;
  color: $primary;

  &.hover,
  &:hover,
  &.disabled,
  &:disabled {
    background-color: $emploi-light;
    border-color: $emploi-light;
    color: $primary;
  }

  &.active,
  &:active,
  &.focus,
  &:focus {
    background-color: $emploi-light !important;
    border-color: $primary !important;
    color: $primary !important;
  }
}

.btn-pilotage {
  background-color: $pilotage-lighter;
  border-color: $pilotage-lighter;
  color: $primary;

  &.hover,
  &:hover,
  &.disabled,
  &:disabled {
    background-color: $pilotage-light;
    border-color: $pilotage-light;
    color: $primary;
  }

  &.active,
  &:active,
  &.focus,
  &:focus {
    background-color: $pilotage-light !important;
    border-color: $primary !important;
    color: $primary !important;
  }
}

.btn-link {
  @extend .text-decoration-none;
  font-weight: $font-weight-bold;

  &.hover,
  &:hover {
    color: $primary;
    text-decoration: none;
  }

  &.focus,
  &:focus {
    color: $primary;
    box-shadow: none;
    text-decoration: none;
  }
}

ul.pagination {
  @extend .p-0;
}

.alert {
  color: $secondary !important;
}

.alert-light {
  @extend .bg-light;
}

.alert-link {
  color: $secondary !important;

  &:hover,
  &:focus {
    color: $primary !important;
  }
}

.list-group {
  @extend .pl-0;
}

.card {
  transition: $transition-base;
  box-shadow: $box-shadow-lg;

  &:hover {
    box-shadow: $box-shadow-xl;
  }
}

.card-link {
  @extend .text-decoration-underline;
}

[data-toggle],
[data-btn] {
  cursor: pointer;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus,
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  box-shadow: none;
}

.input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
  border-left: transparent;
  padding-left: 0;
}

.input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label::after,
.input-group:not(.has-validation) > .custom-select:not(:last-child),
.input-group:not(.has-validation) > .form-control:not(:last-child) {
  border-right: transparent;
  padding-right: 0;
}
