// Custom variables
$header-height: 105px;
$header-height-mobile: 85px;
$postheader-height: 59px;

::selection,
mark,
mark {
  color: $white;
  background-color: $tertiary;
}

[id] {
  scroll-margin-top: calc(#{$header-height-mobile} + 16px);

  @include media-breakpoint-up(md) {
    scroll-margin-top: calc(#{$header-height} + 16px);
  }
}

body {
  text-underline-offset: 0.188rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > .s-main {
    flex: 1 0 auto;
  }

  > #header {
    @extend .sticky-top;
    box-shadow: 0px 12px 19px -10px rgba($primary, 0.1);
    //filter: drop-shadow(0 7px 14px rgba($primary, 0.1));
    background-color: $white;
  }
}

b,
strong {
  font-weight: $font-weight-bold;
}

pre {
  color: $black;
  background-color: $nuance-09;
}

.container {
  max-width: map-get($container-max-widths, 'xl');
}

.h1-hero {
  color: $headings-color;
  font-family: $headings-font-family;
  margin-bottom: $headings-margin-bottom;
  font-weight: $font-weight-bold;
  line-height: $headings-line-height;
  font-size: $h1-hero-font-size-sm;

  @include media-breakpoint-up(lg) {
    font-size: $h1-hero-font-size;
  }
}

figure {
  @extend .mb-0;
}

ul,
ol {
  padding-left: map-get($spacers, 3);
}

.blockquote {
  font-style: italic;
  padding: map-get($spacers, 3);
  border: 1px solid $secondary;
  border-radius: $border-radius;

  &-footer {
    font-style: normal;
    margin-top: map-get($spacers, 2);
  }
}

:focus {
  outline-offset: 2px;
  outline: $blue 1px solid;
}

:focus:not(:focus-visible) {
  outline: 0;
}

:focus-visible {
  outline-offset: 2px;
  outline: $blue 1px solid;
}

.form-control,
.form-select,
.form-check-input,
.btn,
button {
  &:focus {
    outline-offset: 2px;
    outline: $blue 2px solid;
  }

  &:focus:not(:focus-visible) {
    outline: 0;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: $blue 2px solid;
  }
}

ul.pagination {
  @extend .p-0;

  .page-item {
    &:not(.active) {
      .page-link:hover {
        text-decoration: underline;
      }
    }

    &.active {
      .page-link:hover {
        background-color: $button-light;
      }
    }
  }

  .page-link {
    transition: none;
    border-radius: $border-radius;

    &:focus {
      outline-offset: 2px;
      outline: $blue 1px solid;
    }

    &:focus:not(:focus-visible) {
      outline: 0;
    }

    &:focus-visible {
      outline-offset: 2px;
      outline: $blue 1px solid;
    }
  }
}

.list-group {
  @extend .ps-0;
}

[data-bs-toggle],
[data-bs-btn] {
  cursor: pointer;
}

.page-link {
  transition: $transition-base;
  font-weight: $font-weight-bold;
}

hr {
  position: relative;
  color: $primary;
  box-sizing: border-box;
  height: 0;
  overflow: visible;

  &[data-it-text]::after {
    content: attr(data-it-text);
    display: inline-block;
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
    font-size: $font-size-sm;
    line-height: 1;
    background-color: $white;
    @extend .px-2;
  }
}

iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

.modal {
  .modal-header {
    + .modal-body {
      @extend .pt-2;
    }
  }

  .modal-body > *:last-child {
    @extend .mb-0;
  }

  .modal-footer {
    @extend .pt-0;
  }
}

.progress {
  position: relative;

  .progress-bar {
    position: relative;
    z-index: 1;
    border-radius: $border-radius;
  }
}

.dropdown-toggle {
  &::after {
    border: none;
    content: '\ea4e';
    font-family: remixicon !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    vertical-align: middle;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    margin-left: 0.4rem;
    margin-right: -0.25rem;
  }
}

.dropdown-header {
  display: flex;
  align-items: center;
  background-color: $light;
  font-weight: $font-weight-medium;
  font-size: $font-size-xs;
  text-transform: uppercase;
  padding: 0.75rem;
  border-bottom: $border-width solid $border-color;
  text-decoration: none !important;
}
