//  margin-right: calc(50% - 50vw);

.container {
  max-width: map-get($container-max-widths, 'xl');
}

figure {
  @extend .mb-0;
}

ul {
  @extend .pl-4;
}

.btn {
  transition: $transition-base;
}

.btn.disabled,
.btn:disabled {
  pointer-events: none;
}

.btn-ico {

  span {
    @extend .d-inline-block;
    @extend .mr-1;
  }
}

.btn-primary {

  &.hover,
  &:hover {
    color: $primary;
    background-color: $white;
    border-color: $primary;
  }

  &.active,
  &:active,
  &.focus,
  &:focus {
    color: $primary !important;
    background-color: $emploi-light !important;
    border-color:  $primary !important;
  }
}

.btn-outline-primary {

  &.hover,
  &:hover {
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }

  &.active,
  &:active,
  &.focus,
  &:focus {
    color: $primary !important;
    background-color: $emploi-light !important;
    border-color:  $primary !important;
  }
}

.btn-marche {
  background-color: $marche-lighter;
  border-color: $marche-lighter;
  color: $primary;

  &.hover,
  &:hover,
  &.disabled,
  &:disabled {
    background-color: $marche-light;
    border-color: $marche-light;
    color: $primary;
  }

  &.active,
  &:active,
  &.focus,
  &:focus {
    background-color: $marche-light !important;
    border-color: $primary !important;
    color: $primary !important;
  }
}

.btn-communaute {
  background-color: $communaute-lighter;
  border-color: $communaute-lighter;
  color: $primary;

  &.hover,
  &:hover,
  &.disabled,
  &:disabled {
    background-color: $communaute-light;
    border-color: $communaute-light;
    color: $primary;
  }

  &.active,
  &:active,
  &.focus,
  &:focus {
    background-color: $communaute-light !important;
    border-color: $primary !important;
    color: $primary !important;
  }
}

.btn-emploi {
  background-color: $emploi-lighter;
  border-color: $emploi-lighter;
  color: $primary;

  &.hover,
  &:hover,
  &.disabled,
  &:disabled {
    background-color: $emploi-light;
    border-color: $emploi-light;
    color: $primary;
  }

  &.active,
  &:active,
  &.focus,
  &:focus {
    background-color: $emploi-light !important;
    border-color: $primary !important;
    color: $primary !important;
  }
}

.btn-pilotage {
  background-color: $pilotage-lighter;
  border-color: $pilotage-lighter;
  color: $primary;

  &.hover,
  &:hover,
  &.disabled,
  &:disabled {
    background-color: $pilotage-light;
    border-color: $pilotage-light;
    color: $primary;
  }

  &.active,
  &:active,
  &.focus,
  &:focus {
    background-color: $pilotage-light !important;
    border-color: $primary !important;
    color: $primary !important;
  }
}

.btn-link {
  text-decoration: none;

  &.hover,
  &:hover {
    color: $primary;
    text-decoration: none;
  }

  &.focus,
  &:focus {
    color: $primary;
    box-shadow: none;
    text-decoration: none;
  }
}

.alert {
  color: $secondary !important;
}

.alert-light {
  @extend .bg-light;
}

.alert-link {
  color: $secondary !important;

  &:hover,
  &:focus {
    color: $primary !important;
  }
}

[data-toggle],
[data-btn] {
  cursor: pointer;
}
