@each $color, $value in $theme-colors {
  .alert-#{$color} {
    border-left: 5px solid map-get($theme-colors, $color) !important;

    @if $color == "marche" {
      background-color: $marche-light !important;
    }

    @if $color == "emploi" {
      background-color: $emploi-light !important;
    }

    @if $color == "communaute" {
      background-color: $communaute-light !important;
    }

    @if $color == "pilotage" {
      background-color: $pilotage-light !important;
    }
  }
}
