@media print {
  /* Dimension et marges de page */
  @page {
    size: A4 portrait;
    margin: 0.5cm 0.5cm;
  }

  /* Reset général */
  // * {
  //   all: unset;
  //   display: revert;
  //   box-sizing: border-box;
  // }

  img {
    max-width: 100%;
  }

  /* On redéfinit les styles globaux (12pt = 16px) */
  body {
    width: 100%;
    margin: 0;
    font-size: 11pt;
    //font-family: Georgia, serif;
    line-height: 1.3;
    color: $black !important;
    background-color: $white !important;
    //filter: grayscale(1);
  }

  /* Espacements typographiques (15pt = 20px) */
  p,
  blockquote,
  label,
  ul,
  ol {
    margin-block: 0 15pt;
  }

  p:last-child {
    margin-bottom: 0;
  }

  /* Titrages (24pt = 32px) */
  h1 {
    margin-block: 0 19pt;
    font-weight: 600;
    font-size: 16pt;
    line-height: 1.1;
  }

  h2 {
    margin-block: 0 17pt;
    font-weight: 600;
    font-size: 14pt;
    line-height: 1.1;
  }

  h3 {
    margin-block: 0 13pt;
    font-weight: 500;
    font-size: 12pt;
  }

  h4 {
    margin-block: 0 12pt;
    font-weight: 400;
    font-size: 11pt;
  }

  h5,
  h6 {
    margin-block: 0 12pt;
    font-weight: 400;
    font-size: 11pt;
  }

  /* Pas de veuves ou orphelines (3 lignes minimum) */
  p,
  blockquote {
    orphans: 3;
    widows: 3;
  }

  /* Pas de saut de page au sein de ces éléments */
  blockquote,
  ul,
  ol,
  figure,
  table .c-box,
  .c-card {
    page-break-inside: avoid;
  }

  /* Pas de saut de page après ces éléments */
  h1,
  h2,
  h3,
  h4,
  caption {
    page-break-after: avoid;
  }

  /* Styles des liens */
  a,
  a:link,
  a:visited {
    background: transparent !important;
    color: unset;
    text-decoration: underline !important;
  }

  /* On masque les vidéos */
  video,
  object,
  iframe {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
  }

  /* Custom pour les emplois */
  header {
    box-shadow: none !important;
    position: relative !important;
  }

  header > *:not(.s-header-print),
  footer,
  nav,
  .c-navbar,
  .global-messages-container,
  .s-tabs-01__nav,
  .tns-outer,
  .c-box--action,
  .btn,
  button,
  #tarteaucitronRoot,
  .btn-dropdown-filter-group,
  [data-bs-toggle=tooltip] {
    display: none !important;
  }

  .s-header-print,
  .tab-pane {
    display: block !important;
  }

  .fade {
    opacity: 1 !important;
  }

  main {
    padding-top: 0 !important;
  }
}
