@each $breakpoint, $container-max-width in $container-max-widths {
  .container-max-#{$breakpoint} {
    max-width: $container-max-width !important;
  }
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.img-fitcover {
  object-fit: cover;
  width: 100%;
}

.fs-base {
  font-size: $font-size-base !important;
}

.fs-lg {
  font-size: $font-size-lg !important;
}

.fs-sm {
  font-size: $font-size-sm !important;
}

.fs-xs {
  font-size: $font-size-xs !important;
}

.ff-base {
  font-family: $font-family-base;
}

.ff-heading {
  font-family: $font-family-heading;
}

.ff-extra-01 {
  font-family: $font-family-extra-01;
}

.shadow-xl { box-shadow: $box-shadow-xl !important; }


.lh-base {
  line-height: $line-height-base !important;
}

.lh-lg {
  line-height: $line-height-lg !important;
}

.lh-sm {
  line-height: $line-height-sm !important;
}
