$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (
            25: 25%,
            33: 33%,
            40: 40%,
            50: 50%,
            66: 66%,
            75: 75%,
            100px: 100px,
            200px: 200px,
            300px: 300px,
            400px: 400px,
          )
        ),
      ),
    ),
    "max-width": map-merge(
      map-get($utilities, "max-width"),
      (
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "max-width"), "values"),
          (
            25: 25%,
            33: 33%,
            50: 50%,
            66: 66%,
            75: 75%,
          )
        ),
      ),
    ),
  )
);
