.l-not-authenticated {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > .s-main {
    flex: 1 0 auto;

    .container {
      max-width: map-get($container-max-widths, 'xl');
    }
  }

  #header {
    @extend .sticky-top;
    background-color: $white;
    box-shadow: $offcanvas-box-shadow;
  }

  #offcanvasNav {
    top: 0;
    right: 0;
    width: $offcanvas-horizontal-width;
    border-left: $offcanvas-border-width solid $offcanvas-border-color;
    transform: translateX(100%);

    &.show:not(.hiding),
    &.showing {
      transform: none;
    }

    &.hiding,
    &.show,
    &.showing {
      visibility: visible;
    }
  }
}

.l-authenticated {
  .global-messages-container {
    @include media-breakpoint-up(xl) {
      margin-left: $offcanvas-horizontal-width-sm;
    }

    @include media-breakpoint-up(xxl) {
      margin-left: $offcanvas-horizontal-width;
    }
  }

  > .s-main {
    .container {
      max-width: map-get($container-max-widths, 'xl');

      @include media-breakpoint-up(xl) {
        margin-left: $offcanvas-horizontal-width-sm;
        max-width: calc(100% - $offcanvas-horizontal-width-sm);
      }

      @include media-breakpoint-up(xxl) {
        margin-left: $offcanvas-horizontal-width;
        max-width: calc(100% - $offcanvas-horizontal-width);
      }

      @include media-breakpoint-up(xxxl) {
        max-width: map-get($container-max-widths, 'xxl');
      }
    }

    .s-title-02 {
      @extend .sticky-top;
      background-color: $white;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1rem;
        z-index: 1;
        width: 100%;
        height: 1rem;
        background: linear-gradient($white, transparent);
      }

      &__container::after {
        transform: translateX(-16px);
        width: calc(100% + 32px);

        @include media-breakpoint-up(xl) {
          transform: translateX(-24px);
          width: calc(100% + 48px);
        }

        @include media-breakpoint-up(xxxl) {
          width: calc(100% + 24px);
        }
      }
    }
  }

  #offcanvasNav {
    top: 0;
    right: 0;
    width: $offcanvas-horizontal-width;
    border-left: $offcanvas-border-width solid $offcanvas-border-color;
    transform: translateX(100%);

    @include media-breakpoint-up(xl) {
      top: 0;
      right: initial;
      left: 0;
      border: 0;
      z-index: $zindex-fixed;
      box-shadow: none;
      visibility: visible;
      transform: none;
      transition: transform 0s linear !important;
      background-color: $nuance-10;
      width: $offcanvas-horizontal-width-sm;
    }

    @include media-breakpoint-up(xxl) {
      width: $offcanvas-horizontal-width;
    }

    &.show:not(.hiding),
    &.showing {
      transform: none;
    }

    &.hiding,
    &.show,
    &.showing {
      visibility: visible;
    }

    .dropdown-structure .dropdown-toggle__summary::after {
      @include media-breakpoint-up(xl) {
        margin-right: 0;
      }
    }
  }

  .toast-container {
    @include media-breakpoint-up(xl) {
      top: 16px;
    }
  }

  [id] {
    scroll-margin-top: 1.5rem !important;
  }
}
