.l-not-authenticated {
  #header {
    @extend .sticky-top;
    box-shadow: 0px 12px 19px -10px rgba($primary, 0.1);
    background-color: $white;
  }

  .s-main .container {
    max-width: map-get($container-max-widths, 'lg');

    @include media-breakpoint-up(xxl) {
      max-width: map-get($container-max-widths, 'xl');
    }
  }
}

.l-authenticated {
  //
}
