<!DOCTYPE html>
<html lang="fr">

  <head>
    <title>Itou Theme</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="title" content="Styleguide Parent">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="Styleguide Parent">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="Styleguide Parent">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <link rel="shortcut icon" href="images/favico.ico" type="image/ico">
    <link rel="stylesheet" href="stylesheets/app.css" />
  </head>

  <body id="top">

    <header class="bg-primary py-3">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <a href="/" class="lead text-white mb-0 text-decoration-none">Itou Styleguide</a>
          </div>
        </div>
      </div>
    </header>

    <main class="s-main" role="main">

      <section id="content">
          <div class="container">

            <article class="row py-5" id="alerts">
              <div class="col-12 col-lg-3">
                <h3>Alerts</h3>
                <a href="https://getbootstrap.com/docs/4.6/components/alerts/" target="_blank">Documentation</a>
              </div>
              <div class="col-12 col-lg-9">
                <div class="mb-5">
                  <h6>Use the <code>.alert-link</code> utility class to quickly provide matching colored links within any alert.</h6>
                  <div class="alert alert-marche" role="alert">
                    A simple marche alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                  </div>
                  <div class="alert alert-communaute" role="alert">
                    A simple communaute alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                  </div>
                  <div class="alert alert-pilotage" role="alert">
                    A simple pilotage alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                  </div>
                  <div class="alert alert-emploi" role="alert">
                    A simple emploi alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                  </div>
                  <div class="alert alert-primary" role="alert">
                    A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                  </div>
                  <div class="alert alert-secondary" role="alert">
                    A simple secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                  </div>
                  <div class="alert alert-success" role="alert">
                    A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                  </div>
                  <div class="alert alert-danger" role="alert">
                    A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                  </div>
                  <div class="alert alert-warning" role="alert">
                    A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                  </div>
                  <div class="alert alert-info" role="alert">
                    A simple info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                  </div>
                  <div class="alert alert-light" role="alert">
                    A simple light alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                  </div>
                  <div class="alert alert-dark" role="alert">
                    A simple dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                  </div>
                </div>
                <div class="mb-5">
                  <h6>Alerts can also contain additional HTML elements like headings, paragraphs and dividers.</h6>
                  <div class="alert alert-emploi" role="alert">
                    <h4 class="alert-heading">Well done!</h4>
                    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                    <hr>
                    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                  </div>
                </div>
                <div class="mb-5">
                  <h6>Using the alert JavaScript plugin, it’s possible to dismiss any alert inline.</h6>
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </div>
            </article>

            <article class="row py-5" id="badges">
              <div class="col-12 col-lg-3">
                <h3>Badges</h3>
                <a href="https://getbootstrap.com/docs/4.6/components/badge/" target="_blank">Documentation</a>
              </div>
              <div class="col-12 col-lg-9">
                <div class="mb-5">
                  <h6>Badges scale to match the size of the immediate parent element.</h6>
                  <div>
                    <h1>Example heading <span class="badge badge-secondary">New</span></h1>
                    <h2>Example heading <span class="badge badge-secondary">New</span></h2>
                    <h3>Example heading <span class="badge badge-secondary">New</span></h3>
                    <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                    <h5>Example heading <span class="badge badge-secondary">New</span></h5>
                    <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                  </div>
                </div>
                <div class="mb-5">
                  <h6>Contextual variations</h6>
                  <p>
                    <span class="badge badge-marche">Marche</span>
                    <span class="badge badge-communaute">Communaute</span>
                    <span class="badge badge-pilotage">Pilotage</span>
                    <span class="badge badge-emploi">Emplois</span>
                    <span class="badge badge-primary">Primary</span>
                    <span class="badge badge-secondary">Secondary</span>
                    <span class="badge badge-success">Success</span>
                    <span class="badge badge-danger">Danger</span>
                    <span class="badge badge-warning">Warning</span>
                    <span class="badge badge-info">Info</span>
                    <span class="badge badge-light">Light</span>
                    <span class="badge badge-dark">Dark</span>
                  </p>
                </div>
                <div class="mb-5">
                  <h6>Pill badges</h6>
                  <p>
                    <span class="badge badge-pill badge-marche">Marche</span>
                    <span class="badge badge-pill badge-communaute">Communaute</span>
                    <span class="badge badge-pill badge-pilotage">Pilotage</span>
                    <span class="badge badge-pill badge-emploi">Emplois</span>
                    <span class="badge badge-pill badge-primary">Primary</span>
                    <span class="badge badge-pill badge-secondary">Secondary</span>
                    <span class="badge badge-pill badge-success">Success</span>
                    <span class="badge badge-pill badge-danger">Danger</span>
                    <span class="badge badge-pill badge-warning">Warning</span>
                    <span class="badge badge-pill badge-info">Info</span>
                    <span class="badge badge-pill badge-light">Light</span>
                    <span class="badge badge-pill badge-dark">Dark</span>
                  </p>
                </div>
              </div>
            </article>

            <article class="row py-5" id="breadcrumb">
              <div class="col-12 col-lg-3">
                <h3>Breadcrumb</h3>
              </div>
              <div class="col-12 col-lg-9">
                <div class="mb-5">
                  <h6>Indicate the current page’s location within a navigational hierarchy that automatically adds separators via CSS. Use class variations to change underline colors (ex: <code>.c-breacrumb--marche</code>)</h6>
                  <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item"><a href="#">Library</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                  </nav>
                  <nav class="c-breadcrumb c-breadcrumb--communaute" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item"><a href="#">Library</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                  </nav>
                  <nav class="c-breadcrumb c-breadcrumb--pilotage" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item"><a href="#">Library</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                  </nav>
                  <nav class="c-breadcrumb c-breadcrumb--emploi" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item"><a href="#">Library</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                  </nav>
                </div>
              </div>
            </article>

          </div>
        </section>

    </main>

    <script src="javascripts/app.js" defer></script>
  </body>

</html>
