<!DOCTYPE html>
<html lang="fr">

  <head>
    <title>Itou Theme</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="title" content="Itou Theme">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="Itou Theme">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="Itou Theme">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <link rel="shortcut icon" href="images/favico.ico" type="image/ico">
    <link rel="stylesheet" href="stylesheets/app.css" />
  </head>

  <body id="top">

    <header class="bg-primary py-3">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <a href="https://betagouv.github.io/itou-theme/" class="lead text-white mb-0 text-decoration-none">Itou Theme</a>
          </div>
        </div>
      </div>
    </header>

    <main class="s-main" role="main">

      <section id="content">
          <div class="container">

            <article class="row py-5" id="tac">
              <div class="col-12">
                <h3>Tarte au citron 1.9.3</h3>
                <p>Pour ajouter <i>Tarte au citron 1.9.3</i> il suffit d'ajouter l'appel au cdn du js <code>&lt;script type=&quot;text/javascript&quot; src=&quot;https://cdn.jsdelivr.net/gh/AmauriC/tarteaucitron.js@1.9.3/tarteaucitron.js&quot;&gt;&lt;/script&gt;</code> puis la configuration ci-dessous.</p>
                <pre class="bg-gray-100 p-3">
                  &lt;script type=&quot;text/javascript&quot;&gt;&#10;                    tarteaucitron.init({&#10;                    &quot;privacyUrl&quot;: &quot;&quot;, /* Privacy policy url */&#10;                    &quot;hashtag&quot;: &quot;#tarteaucitron&quot;, /* Open the panel with this hashtag */&#10;                    &quot;cookieName&quot;: &quot;tarteaucitron&quot;, /* Cookie name */&#10;                    &quot;orientation&quot;: &quot;middle&quot;, /* Banner position (top - bottom) */&#10;                    &quot;groupServices&quot;: false, /* Group services by category */&#10;                    &quot;showAlertSmall&quot;: false, /* Show the small banner on bottom right */&#10;                    &quot;cookieslist&quot;: false, /* Show the cookie list */&#10;                    &quot;closePopup&quot;: false, /* Show a close X on the banner */&#10;                    &quot;showIcon&quot;: true, /* Show cookie icon to manage cookies */&#10;                    //&quot;iconSrc&quot;: &quot;&quot;, /* Optionnal: URL or base64 encoded image */&#10;                    &quot;iconPosition&quot;: &quot;BottomRight&quot;, /* BottomRight, BottomLeft, TopRight and TopLeft */&#10;                    &quot;adblocker&quot;: false, /* Show a Warning if an adblocker is detected */&#10;                    &quot;DenyAllCta&quot; : true, /* Show the deny all button */&#10;                    &quot;AcceptAllCta&quot; : true, /* Show the accept all button when highPrivacy on */&#10;                    &quot;highPrivacy&quot;: true, /* HIGHLY RECOMMANDED Disable auto consent */&#10;                    &quot;handleBrowserDNTRequest&quot;: false, /* If Do Not Track == 1, disallow all */&#10;                    &quot;removeCredit&quot;: true, /* Remove credit link */&#10;                    &quot;moreInfoLink&quot;: true, /* Show more info link */&#10;                    &quot;useExternalCss&quot;: true, /* If false, the tarteaucitron.css file will be loaded */&#10;                    &quot;useExternalJs&quot;: false, /* If false, the tarteaucitron.js file will be loaded */&#10;                    //&quot;cookieDomain&quot;: &quot;.my-multisite-domaine.fr&quot;, /* Shared cookie for multisite */&#10;                    &quot;readmoreLink&quot;: &quot;&quot;, /* Change the default readmore link */&#10;                    &quot;mandatory&quot;: true, /* Show a message about mandatory cookies */&#10;                    });&#10;                  &lt;/script&gt;
                </pre>
                <p>Les styles seront automatiquement surchargés par le theme itou</p>
               </div>
              </div>
            </article>

          </div>
        </section>

    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="javascripts/app.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/AmauriC/tarteaucitron.js@1.9.3/tarteaucitron.js"></script>

    <script type="text/javascript">
      tarteaucitron.init({
      "privacyUrl": "", /* Privacy policy url */
      "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
      "cookieName": "tarteaucitron", /* Cookie name */
      "orientation": "middle", /* Banner position (top - bottom) */
      "groupServices": false, /* Group services by category */
      "showAlertSmall": false, /* Show the small banner on bottom right */
      "cookieslist": false, /* Show the cookie list */
      "closePopup": false, /* Show a close X on the banner */
      "showIcon": true, /* Show cookie icon to manage cookies */
      //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
      "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */
      "adblocker": false, /* Show a Warning if an adblocker is detected */
      "DenyAllCta" : true, /* Show the deny all button */
      "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
      "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
      "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
      "removeCredit": true, /* Remove credit link */
      "moreInfoLink": true, /* Show more info link */
      "useExternalCss": true, /* If false, the tarteaucitron.css file will be loaded */
      "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */
      //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
      "readmoreLink": "", /* Change the default readmore link */
      "mandatory": true, /* Show a message about mandatory cookies */
      });
    </script>
    <script type="text/javascript">
      (tarteaucitron.job = tarteaucitron.job || []).push('youtube');
    </script>
  </body>

</html>
