<!DOCTYPE html>

<html lang="fr">

  <head>
    <title>Itou Theme</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="title" content="Itou Theme">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="Itou Theme">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="Itou Theme">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <link rel="shortcut icon" href="images/favico.ico" type="image/ico">
    <link rel="stylesheet" href="stylesheets/app.css" />
  </head>

  <body id="top">

    <%- include('_sections/header-theme') %>

      <main class="s-main" role="main">

        <section>
          <div class="container">

            <article class="row py-5" id="bs">
              <div class="col-12">
                <h3>Intro JS</h3>
                <p>Pour utiliser <a href="https://introjs.com/docs" target="_blank" class="has-external-link">Intro JS</a> il suffit d'ajouter l'appel aux cdn du js
                  <code>&#60;script src=&#34;https://unpkg.com/intro.js/intro.js&#34;&#62;&#60;/script&#62;</code>
                  puis instancier <code>introJs.tour()</code>
                </p>
                <div>
                  Par exemple :
                  <pre class="bg-info-lighter p-3">
                    <code>
  &lt;script&gt;&#10;  introJs.tour().setOptions({&#10;    dontShowAgainCookie: &apos;introjsPass-dontShowAgain&apos;,&#10;    dontShowAgain: true,&#10;    showProgress: false,&#10;    showBullets: true,&#10;    skipLabel: &quot;&quot;,&#10;    nextLabel: &quot;Suivant&quot;,&#10;    prevLabel: &quot;Pr&eacute;cedent&quot;,&#10;    doneLabel: &quot;Fin&quot;,&#10;    dontShowAgainLabel: &quot;Ne plus afficher&quot;,&#10;    steps: [{&#10;        title: &apos;Bonjour &#128075;&apos;,&#10;        intro: &apos;D&eacute;couvrez votre nouvelle box de PASS IAE&apos;&#10;      },&#10;      {&#10;        element: document.querySelector(&apos;#introjsPass01&apos;),&#10;        title: &apos;Votre PASS est valide&apos;,&#10;        intro: &apos;Ici l\&apos;etat actuel de votre PASS est indiqu&eacute;&apos;&#10;      },&#10;      {&#10;        element: document.querySelector(&apos;#introjsPass02&apos;),&#10;        title: &apos;Valide jusqu\&apos;a cette date&apos;&#10;      },&#10;      {&#10;        element: document.querySelector(&apos;#introjsPass03&apos;),&#10;        intro: &apos;Vous pouvez l\&apos;afficher en cliquant ici&apos;&#10;      }]&#10;    }).start();&#10;&lt;/script&gt;
                    </code>
                  </pre>
                </div>
                <p><i>Les styles seront automatiquement chargés par le thème itou, il est donc inutile d'inclure les styles par défaut.</i></p>
                <br>
                <br>
                <div class="c-box c-box--pass bg-success-lightest border-success w-md-33">
                  <div class="mb-3 mb-md-4">
                    <span class="badge badge-base rounded-pill bg-success text-white" id="introjsPass01">
                      <i class="ri-pass-valid-line" aria-hidden="true"></i>
                      PASS IAE valide
                    </span>
                  </div>
                  <ul class="list-data mb-3 mb-md-4">
                    <li>
                      <small>Numéro de PASS IAE</small>
                      <strong><span>99999</span><span class="ms-1">99</span><span class="ms-1">99999</span></strong>
                    </li>
                    <li>
                      <small>Date de début</small>
                      <strong>05/07/2024</strong>
                    </li>
                    <li>
                      <small>Date de fin prévisionnelle <i class="ri-information-line ri-xl text-info" data-bs-toggle="tooltip" aria-label="Cette date de fin est susceptible..." data-bs-original-title="Cette date de fin est susceptible..."></i></small>
                      <strong id="introjsPass02">04/07/2026</strong>
                    </li>
                    <li>
                      <small>Durée de validité <i class="ri-information-line ri-xl text-info" data-bs-toggle="tooltip" aria-label="Cette date de fin de validité..." data-bs-original-title="Cette date de fin de validité..."></i></small>
                      <strong class="text-success">721 jours (environ 1 an, 2 mois, 12 jours)</strong>
                    </li>
                  </ul>
                  <a href="" class="btn btn-outline-primary btn-block btn-ico bg-white" id="introjsPass03">
                    <i class="ri-eye-line font-weight-medium" aria-hidden="true"></i>
                    <span>Afficher le PASS IAE</span>
                  </a>
                </div>
              </div>
            </article>

            <hr>
          </div>
        </section>

      </main>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
      <script src="javascripts/app.js"></script>

      <script src="https://unpkg.com/intro.js/intro.js"></script>
      <script>
        introJs.tour().setOptions({
          dontShowAgainCookie: 'introjsPass-dontShowAgain',
          dontShowAgain: true,
          showProgress: false,
          showBullets: true,
          skipLabel: "",
          nextLabel: "Suivant",
          prevLabel: "Précedent",
          doneLabel: "Fin",
          dontShowAgainLabel: "Ne plus afficher",
          steps: [{
              title: 'Bonjour 👋',
              intro: 'Découvrez votre nouvelle box de PASS IAE'
            },
            {
              element: document.querySelector('#introjsPass01'),
              title: 'Votre PASS est valide',
              intro: 'Ici l\'etat actuel de votre PASS est indiqué'
            },
            {
              element: document.querySelector('#introjsPass02'),
              title: 'Valide jusqu\'a cette date'
            },
            {
              element: document.querySelector('#introjsPass03'),
              intro: 'Vous pouvez l\'afficher en cliquant ici'
            }]
          }).start();
      </script>
  </body>

</html>
