<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Itou Theme</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="title" content="Itou Theme">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:title" content="Itou Theme">
  <meta property="og:description" content="">
  <meta property="og:image" content="">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="">
  <meta property="twitter:title" content="Itou Theme">
  <meta property="twitter:description" content="">
  <meta property="twitter:image" content="">

  <link rel="shortcut icon" href="images/favico.ico" type="image/ico">
  <link rel="stylesheet" href="stylesheets/app.css" />
</head>

<body id="top" class="bg-gray-400">
  <nav role="navigation" aria-label="Accès rapide" tabindex="0" class="sr-only">
    <ul>
      <li><a href="#nav-primary">Aller au menu principal</a></li>
      <li><a href="#main">Aller au contenu principal</a></li>
    </ul>
  </nav>

  <header class="s-header s-header--plateforme sticky-top" role="banner" id="header">
    <section class="s-header__container container">
      <div class="s-header__row row">
        <div class="s-header__col s-header__col--logo col-auto d-flex align-items-center pr-0 pr-md-3">
          <a href="#top" class="s-header__logo-ministere"><img src="images/logo-ministere-emploi.svg" alt="Ministère de l'emploi"></a>
        </div>
        <div class="s-header__col s-header__col--logo col-auto d-flex align-items-center px-0 px-md-3">
          <a href=""/><img src="images/logo-plateforme-inclusion.svg" alt="La Plateforme de l'inclusion"></a>
        </div>
        <div class="s-header__col s-header__col--nav col d-none d-xl-inline-flex d-xl-flex align-items-center justify-content-end">
          <nav role="navigation" id="nav-primary" aria-label="Navigation principale">
            <ul>
              <li>
                <a href="" class="is-active" rel="noopener" target="_blank">
                  <span>Item</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19">
                    <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://emplois.inclusion.beta.gouv.fr" class="is-emploi" rel="noopener" target="_blank">
                  <span>Les emplois</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19">
                    <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://communaute.inclusion.beta.gouv.fr" class="is-communaute" rel="noopener" target="_blank">
                  <span>La communauté</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19">
                    <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://lemarche.inclusion.beta.gouv.fr" class="is-marche" rel="noopener" target="_blank">
                  <span>Le marché</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19">
                    <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://pilotage.inclusion.beta.gouv.fr" class="is-pilotage" rel="noopener" target="_blank">
                  <span>Le pilotage</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19">
                    <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="s-header__col s-header__col--burger col d-flex align-items-center justify-content-end d-xl-none" data-toggle="burger" aria-controls="burgerNav" tabindex="0">
          <span id="burger"><img src="images/picto-burger.svg" alt="Menu" /></span>
          <span id="close"><img src="images/picto-close.svg" alt="Fermer" /></span>
        </div>
        <div id="burgerNav">
          <nav role="navigation">
            <ul>
              <li>
                <a href="" class="is-active" rel="noopener" target="_blank">
                  <span>Item</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19">
                    <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://emplois.inclusion.beta.gouv.fr" class="is-emploi" rel="noopener" target="_blank">
                  <span>Les emplois</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19">
                    <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://communaute.inclusion.beta.gouv.fr" class="is-communaute" rel="noopener" target="_blank">
                  <span>La communauté</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19">
                    <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://lemarche.inclusion.beta.gouv.fr" class="is-marche" rel="noopener" target="_blank">
                  <span>Le marché</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19">
                    <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://pilotage.inclusion.beta.gouv.fr" class="is-pilotage" rel="noopener" target="_blank">
                  <span>Le pilotage</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19">
                    <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
  </header>

  <section class="s-postheader">
    <div class="container s-postheader__container">
      <div class="row">
        <div class="col-12 s-postheader__col s-postheader__col--nav d-flex align-items-center">
          <nav role="navigation">
            <ul>
              <li>
                <a href="">
                  <span>Item sous menu</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                    <path fill="currentColor" fill-rule="nonzero" stroke="currentColor" d="M1.964 8.95h11.03L9.51 12.737a.451.451 0 00.037.646.474.474 0 00.66-.037L14.386 8.8l.035-.043.033-.05.013-.05V8.539c0-.012.033-.02.033-.044v-.151l-.014-.05-.019-.03-.034-.045-4.193-4.566a.474.474 0 00-.66-.037.452.452 0 00-.036.646l3.45 3.777H1.963a.46.46 0 00-.464.455.46.46 0 00.464.455z"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <span>Item sous menu</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                    <path fill="currentColor" fill-rule="nonzero" stroke="currentColor" d="M1.964 8.95h11.03L9.51 12.737a.451.451 0 00.037.646.474.474 0 00.66-.037L14.386 8.8l.035-.043.033-.05.013-.05V8.539c0-.012.033-.02.033-.044v-.151l-.014-.05-.019-.03-.034-.045-4.193-4.566a.474.474 0 00-.66-.037.452.452 0 00-.036.646l3.45 3.777H1.963a.46.46 0 00-.464.455.46.46 0 00.464.455z"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <span>Item sous menu</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                    <path fill="currentColor" fill-rule="nonzero" stroke="currentColor" d="M1.964 8.95h11.03L9.51 12.737a.451.451 0 00.037.646.474.474 0 00.66-.037L14.386 8.8l.035-.043.033-.05.013-.05V8.539c0-.012.033-.02.033-.044v-.151l-.014-.05-.019-.03-.034-.045-4.193-4.566a.474.474 0 00-.66-.037.452.452 0 00-.036.646l3.45 3.777H1.963a.46.46 0 00-.464.455.46.46 0 00.464.455z"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <span>Item sous menu</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                    <path fill="currentColor" fill-rule="nonzero" stroke="currentColor" d="M1.964 8.95h11.03L9.51 12.737a.451.451 0 00.037.646.474.474 0 00.66-.037L14.386 8.8l.035-.043.033-.05.013-.05V8.539c0-.012.033-.02.033-.044v-.151l-.014-.05-.019-.03-.034-.045-4.193-4.566a.474.474 0 00-.66-.037.452.452 0 00-.036.646l3.45 3.777H1.963a.46.46 0 00-.464.455.46.46 0 00.464.455z"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>


  <main class="s-main" role="main">

    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="Fil d'ariane">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                <li class="breadcrumb-item"><a href="#">Layout</a></li>
                <li class="breadcrumb-item active" aria-current="page">Formulaire</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <section class="s-title-01">
      <div class="s-title-01__container container">
        <div class="s-title-01__row row">
          <div class="s-title-01__col col-12">
            <h1 class="s-title-01__title h1"><strong>Base Title Page</strong></h1>
            <p class="mb-0">Exemple de page avec un formulaire. Voir aussi les <a href="forms.html#forms">éléments de formulaire pour plus d'exemples de champs</a>.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="s-section">
      <div class="s-section__container container">
        <div class="s-section__row row mb-3 mb-lg-5">
          <div class="s-section__col col-12 col-lg-7">
            <div class="c-stepper">
              <div class="progress progress--marche">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p><strong>Étape 1</strong>/3 : Informations générales</p>
            </div>
          </div>
        </div>
        <div class="s-section__row row">
          <div class="s-section__col col-12">
            <div class="c-form pt-0">
              <ul class="nav nav-tabs nav-tabs--marche">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Critères de recherche</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Votre structure</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Votre offre commerciale</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Groupements</a>
                </li>
              </ul>
              <form class="pt-3 pt-lg-5 js-needs-validation" novalidate>
                <fieldset>
                  <div class="row">
                    <div class="col-12 col-lg-7">
                      <legend>Titre de ce fieldset 1 (Optionnel)</legend>
                      <div class="form-group">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                          <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                          <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <div class="row"><div class="col-12 col-lg-7"><hr></div></div>

                <fieldset>
                  <div class="row">
                    <div class="col-12 col-lg-7">
                      <legend>Titre de ce fieldset 2 (Optionnel)</legend>
                      <div class="form-group form-group-required">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-lg-7">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" data-target-conseil="#exampleInputPassword1Conseil">
                      </div>
                    </div>
                    <div class="col-12 col-lg-5">
                      <div class="c-form-conseil">
                        <div class="is-openable" id="exampleInputPassword1Conseil">
                          <!-- <p class="c-form-conseil__title"><i class="ri-lightbulb-line ri-lg mr-2"></i><strong>Titre conseil</strong></p> -->
                          <p>
                            <i class="ri-lightbulb-line ri-lg mr-1"></i><strong>Titre conseil</strong><br>
                            Quisquam, laboriosam! Labore inventore facere ipsa a magnam ipsam illo illum perspiciatis. Voluptatum qui at laboriosam odit doloremque amet fugiat reiciendis dolorem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem magnam laudantium alias blanditiis qui magni vel. Sunt, animi. Consequuntur rerum in dolor hic corrupti incidunt maiores explicabo dolores eligendi eaque?
                          </p>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, laboriosam! Labore inventore facere ipsa a magnam ipsam illo illum perspiciatis. odit doloremque amet fugiat reiciendis dolorem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem magnam laudantium alias blanditiis qui magni vel. Sunt, animi. Consequuntur rerum in dolor hic corrupti incidunt maiores explicabo dolores eligendi eaque?</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-lg-7">
                      <div class="form-group">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1">
                          <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputDisabled">Structure</label>
                        <input class="form-control" value="Input disabled" disabled id="exampleInputDisabled">
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Example expendable textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" data-expandable="true"></textarea>
                      </div>
                    </div>
                  </div>

                </fieldset>
                <div class="row"><div class="col-12 col-lg-7"><hr></div></div>

                <fieldset>
                  <div class="row">
                    <div class="col-12 col-lg-7">
                      <legend>Titre de ce fieldset 3 (Optionnel)</legend>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Email</label>
                          <input type="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">Password</label>
                          <input type="password" class="form-control" id="inputPassword4">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"  data-target-conseil="#exampleInputAddres1Conseil">
                      </div>
                      <div class="form-group">
                        <label for="inputAddress2">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputCity">City</label>
                          <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputState">State</label>
                          <select class="custom-select" id="inputState">
                            <option selected>Open this menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>
                        <div class="form-group col-md-2">
                          <label for="inputZip">Zip</label>
                          <input type="text" class="form-control" id="inputZip">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="">Les secteurs d’activité *</label>
                        <ul class="list-group c-list-group-collapse c-list-group-form">
                          <li class="list-group-item list-group-item-action">
                            <a data-toggle="collapse" href="#collapseExample04" role="button" aria-expanded="false" aria-controls="collapseExample04">Hygiène et propreté</a>
                            <div class="collapse" id="collapseExample04">
                              <ul>
                                <li>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </li>
                          <li class="list-group-item list-group-item-action">
                            <a data-toggle="collapse" href="#collapseExample06" role="button" aria-expanded="false" aria-controls="collapseExample06">Entretiens du linge</a>
                            <div class="collapse" id="collapseExample06">
                              <ul>
                                <li>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </li>
                          <li class="list-group-item list-group-item-action">
                            <a data-toggle="collapse" href="#collapseExample01" role="button" aria-expanded="false" aria-controls="collapseExample01">Entretiens du linge</a>
                            <div class="collapse" id="collapseExample01">
                              <ul>
                                <li>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="form-group">
                        <label for="">Des switches</label>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="customSwitch1" aria-checked="false">
                          <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="custom-control custom-switch custom-switch-lg">
                          <input type="checkbox" class="custom-control-input" id="customSwitch2" aria-checked="false">
                          <label class="custom-control-label pt-1" for="customSwitch2">Toggle this large switch element</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="customRange1">Example range</label>
                        <input type="range" class="custom-range" id="customRange1">
                      </div>
                      <div class="form-group">
                        <div class="js-display-if-javascript-enabled" style="display: block;">
                          <div id="logo_form" class="c-dropzone dz-clickable">
                            <div class="dz-message">
                              <p class="mb-1 text-nuance-06"><i class="ri-upload-cloud-2-line ri-2x"></i></p>
                              <p class="mb-2">Glisser vos fichiers ici ou <strong>rechercher</strong> dans vos fichiers</p>
                              <span class="btn btn-primary btn-sm mb-2">Rechercher dans vos fichiers</span>
                              <p class="small text-nuance-06">Taille maximale :  Mo</p>
                            </div>
                          </div>
                          <p class="small text-muted">Type de fichier : PNG, JPEG, SVG, GIF</p>
                        </div>
                      </div>
                      <div class="alert alert-danger">
                        <div class="row">
                          <div class="col-auto pr-0">
                            <i class="ri-information-line ri-xl text-danger"></i>
                          </div>
                          <div class="col">
                            <p class="mb-2"><strong>Attention</strong></p>
                            <p>Le Ministère du Travail (DGEFP) et Pôle emploi traitent vos données personnelles. Ce site est ouvert aux acteurs de l'inclusion et permet de simplifier le recrutement des personnes éligibles aux structures de l'Insertion par l'Activité Économique (IAE). Il est une composante du Pacte ambition IAE.
                              Pour plus d'information sur le traitement de vos données personnelles ou pour exercer vos droits, consultez la section Protection des données. En cliquant sur le bouton "Valider la demande", vous acceptez les conditions générales d'utilisation.</p>
                              <a href="" class="font-weight-bold">Label lien</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <div class="row"><div class="col-12 col-lg-7"><hr></div></div>

                <fieldset>
                  <div class="row">
                    <div class="col-12 col-lg-7">
                      <legend>Titre de ce fieldset 4 (Optionnel)</legend>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="validationCustom01">First name</label>
                          <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="validationCustom02">Last name</label>
                          <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="validationCustom03">City</label>
                          <input type="text" class="form-control" id="validationCustom03" required>
                          <div class="invalid-feedback">
                            Please provide a valid city.
                          </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="validationCustom05">Zip</label>
                          <input type="text" class="form-control" id="validationCustom05" required>
                          <div class="invalid-feedback">
                            Please provide a valid zip.
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="invalidCheck" required>
                          <label class="custom-control-label" for="invalidCheck">Agree to terms and conditions</label>
                          <div class="invalid-feedback">
                            You must agree before submitting.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <div class="row"><div class="col-12 col-lg-7"><hr></div></div>

                <div class="row">
                  <div class="col-12 col-lg-7">
                    <div class="form-row align-items-center">
                      <div class="form-group col-12 col-lg order-3 order-lg-1">
                        <a href="" class="btn btn-link btn-ico pl-0" title="Retour à l'étape précédente">
                          <i class="ri-arrow-go-back-line ri-lg"></i>
                          <span>Retour</span>
                        </a>
                      </div>
                      <div class="form-group col-6 col-lg-auto order-1 order-lg-2">
                        <button type="reset" class="btn btn-block btn-outline-primary">Annuler</button>
                      </div>
                      <div class="form-group col-6 col-lg-auto order-2 order-lg-3">
                        <button type="submit" class="btn btn-block btn-primary">Envoyer</button>
                      </div>
                    </div>
                  </div>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="s-section">
        <div class="s-section__container container">
          <div class="s-section__row row">
            <div class="s-section__col col-12">
              <p>Base section content</p>
            </div>
          </div>
        </div>
      </section>

    </main>

    <%- include('_sections/prefooter', {currentPrefooterBaseline: 'aux emplois', currentPrefooterLogo: 'logo-emploi-inclusion.svg', modifier: 's-prefooter--emploi'} ) %>
    <%- include('_sections/footer') %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="javascripts/app.js"></script>


    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('js-needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>

  </html>
