<!DOCTYPE html>
<html lang="fr">

  <head>
    <title>Itou Theme</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="title" content="Styleguide Parent">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="Styleguide Parent">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="Styleguide Parent">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <link rel="shortcut icon" href="images/favico.ico" type="image/ico">
    <link rel="stylesheet" href="stylesheets/app.css" />
  </head>

  <body id="top">

    <header class="bg-primary py-3">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <a href="/" class="lead text-white mb-0 text-decoration-none">Itou Styleguide</a>
          </div>
        </div>
      </div>
    </header>

    <main class="s-main" role="main">

      <section id="content">
          <div class="container">

            <article class="row py-5">
              <div class="col-12 col-lg-3">
                <h3>Layout</h3>
              </div>
              <div class="col-12 col-lg-9">

              </div>
            </article>

            <article class="row py-5">
              <div class="col-12 col-lg-3">
                <h3>Content</h3>
              </div>
              <div class="col-12 col-lg-9">
                <ul class="list-group list-group-flush">
                  <a href="content.html#typography" class="list-group-item list-group-item-action">Typography</a>
                  <a href="content.html#colors" class="list-group-item list-group-item-action">Colors</a>
                  <a href="content.html#bg-colors" class="list-group-item list-group-item-action">Background colors</a>
                  <a href="content.html#text-colors" class="list-group-item list-group-item-action">Text colors</a>
                  <a href="content.html#text-utilities" class="list-group-item list-group-item-action">Text utilities</a>
                  <a href="content2.html#tables" class="list-group-item list-group-item-action">Tables</a>
                  <a href="content2.html#images" class="list-group-item list-group-item-action">Images</a>
                  <a href="content2.html#logos" class="list-group-item list-group-item-action">Logos</a>
                </ul>
              </div>
            </article>

            <article class="row py-5">
              <div class="col-12 col-lg-3">
                <h3>Utilities</h3>
              </div>
              <div class="col-12 col-lg-9">

              </div>
            </article>

            <article class="row py-5">
              <div class="col-12 col-lg-3">
                <h3>Forms</h3>
              </div>
              <div class="col-12 col-lg-9">

              </div>
            </article>

            <article class="row py-5">
              <div class="col-12 col-lg-3">
                <h3>Components</h3>
              </div>
              <div class="col-12 col-lg-9">

              </div>
            </article>

            <article class="row py-5">
              <div class="col-12 col-lg-3">
                <h3>Sections</h3>
              </div>
              <div class="col-12 col-lg-9">

              </div>
            </article>

            <hr>

            <article class="row py-5">
              <div class="col-12">
                <p>Les styles et composants présentés ici sont en général, présentés dans la totalité de leurs variations. Si un complément d'information est utile, un lien vers la <span class="text-decoration-underline">Documentation</span> officielle de Bootstrap sera présent.</p>
              </div>
            </article>

          </div>
        </section>

    </main>

    <script src="javascripts/app.js" defer></script>
  </body>

</html>
