<!DOCTYPE html>

<html lang="fr">

  <head>
    <title>Itou Theme</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="title" content="Itou Theme">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="Itou Theme">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="Itou Theme">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <link rel="shortcut icon" href="images/favico.ico" type="image/ico">
    <link rel="stylesheet" href="stylesheets/app.css">
  </head>

  <body id="top" class="p-home">
    <nav role="navigation" aria-label="Accès rapide" tabindex="0" class="visually-hidden">
      <ul>
        <li><a href="#nav-primary">Aller au menu principal</a></li>
        <li><a href="#main">Aller au contenu principal</a></li>
      </ul>
    </nav>

    <%- include('_sections/header-communaute') %>

      <main class="s-main" role="main">

        <%- include('_sections/home-title-01') %>

        <section class="s-banner-01 my-5 my-md-9">
          <div class="s-banner-01__container container container-max-lg">
            <div class="s-banner-01__row row g-0">
              <div class="s-banner-01__col col-12 pe-md-0">
                <div class="row g-0 align-items-end">
                  <div class="col-12 col-md-8">
                    <p class="h1 text-tertiary">La boîte à outils des CIP</p>
                    <p class="mb-md-4">Orientation vers l'IAE, validation d'éligibilité, diagnostic socioprofessionnel... Qui sont les prescripteurs habilités, quel est leur rôle, leur champ d'action, leur mission ? Orientation vers l'IAE, validation d'éligibilité, diagnostic socioprofessionnel... Qui sont les prescripteurs habilités, quel est leur rôle, leur champ d'action, leur mission ?.</p>
                    <a href="" class="btn btn-outline-primary">
                      Consulter les fiches de la boite à outils
                    </a>
                  </div>
                  <div class="d-none d-md-inline col-md-4 ps-3 mb-n4">
                    <img src="images/banner-01-illu.png" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="s-section my-5 my-md-9">
          <div class="s-section__container container container-max-lg">
            <div class="s-section__row row align-items-center">
              <div class="s-section__col d-none d-md-inline col-md-4 pe-4">
                <img src="images/home/commu-home-illu-01.png" class="img-fluid" alt="">
              </div>
              <div class="s-section__col col-12 col-md-8">
                <p class="h1 text-tertiary">Fiches pratiques les plus consultées</p>
                <ul class="list-group list-group-flush list-group-link mb-3 mb-md-4">
                  <li class="list-group-item list-group-item-action">
                    <div>
                      <div class="tag-group mb-1">
                        <span class="tag tag-lg bg-info-lighter text-info text-uppercase">Les bases de l’iAE</span>
                      </div>
                      <a href="" class="h4 d-block text-decoration-none text-tertiary stretched-link">Les prescripteurs habilités</a>
                      <p class="mb-0">Orientation vers l'IAE, validation d'éligibilité, diagnostic socioprofessionnel... Qui sont les prescripteurs habilités, quel est leur rôle, leur champ d'action, leur mission ?</p>
                    </div>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div>
                      <div class="tag-group mb-1">
                        <span class="tag tag-lg bg-info-lighter text-info text-uppercase">Les bases de l’iAE</span>
                      </div>
                      <a href="" class="h4 d-block text-decoration-none text-tertiary stretched-link">Les prescripteurs habilités</a>
                      <p class="mb-0">Orientation vers l'IAE, validation d'éligibilité, diagnostic socioprofessionnel... Qui sont les prescripteurs habilités, quel est leur rôle, leur champ d'action, leur mission ?</p>
                    </div>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div>
                      <div class="tag-group mb-1">
                        <span class="tag tag-lg bg-info-lighter text-info text-uppercase">Les bases de l’iAE</span>
                      </div>
                      <a href="" class="h4 d-block text-decoration-none text-tertiary stretched-link">Les prescripteurs habilités</a>
                      <p class="mb-0">Orientation vers l'IAE, validation d'éligibilité, diagnostic socioprofessionnel... Qui sont les prescripteurs habilités, quel est leur rôle, leur champ d'action, leur mission ?</p>
                    </div>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div>
                      <div class="tag-group mb-1">
                        <span class="tag tag-lg bg-info-lighter text-info text-uppercase">Les bases de l’iAE</span>
                      </div>
                      <a href="" class="h4 d-block text-decoration-none text-tertiary stretched-link">Les prescripteurs habilités</a>
                      <p class="mb-0">Orientation vers l'IAE, validation d'éligibilité, diagnostic socioprofessionnel... Qui sont les prescripteurs habilités, quel est leur rôle, leur champ d'action, leur mission ?</p>
                    </div>
                  </li>
                </ul>
                <a href="" class="btn btn-outline-primary">
                  Toutes les fiches pratiques
                </a>
              </div>
            </div>
          </div>
        </section>

        <section class="s-section my-5 my-md-10">
          <div class="s-section__container container container-max-lg">
            <div class="s-section__row row">
              <div class="s-section__col col-12">
                <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-between mb-3 mb-md-4">
                  <span class="h1 mb-md-0 text-tertiary">Les dernières actualités</span>
                  <div>
                    <a href="" class="btn btn-outline-primary">Toutes les actualités</a>
                  </div>
                </div>
                <ul class="list-group list-group-flush list-group-horizontal-md list-group-link mt-3 mt-md-4">
                  <li class="list-group-item list-group-item-action">
                    <div>
                      <div class="tag-group mb-1">
                        <span class="tag tag-lg bg-info-lighter text-info text-uppercase">Parcours CIP</span>
                      </div>
                      <a href="" class="text-decoration-none stretched-link">La veille informationnelle consiste à la mise en place d'un système d'information permettant de collecter, de traiter et de diffusers.</a>
                    </div>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div>
                      <div class="tag-group mb-1">
                        <span class="tag tag-lg bg-info-lighter text-info text-uppercase">Parcours CIP</span>
                      </div>
                      <a href="" class="text-decoration-none stretched-link">La veille informationnelle consiste à la mise en place d'un système d'information permettant de collecter, de traiter et de diffusers.</a>
                    </div>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div>
                      <div class="tag-group mb-1">
                        <span class="tag tag-lg bg-info-lighter text-info text-uppercase">Parcours CIP</span>
                      </div>
                      <a href="" class="text-decoration-none stretched-link">La veille informationnelle consiste à la mise en place d'un système d'information permettant de collecter, de traiter et de diffusers.</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

      </main>

      <%- include('_sections/footer-communaute') %>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script src="javascripts/app.js"></script>
  </body>

</html>
