<!DOCTYPE html>

<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <title>Itou Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <meta name="title" content="Itou Theme">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="Itou Theme">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="Itou Theme">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <link rel="shortcut icon" href="images/favico.ico" type="image/ico">
    <link rel="stylesheet" href="stylesheets/app.css" />
  </head>

  <body id="top">
    <nav role="navigation" aria-label="Accès rapide" tabindex="0" class="visually-hidden">
      <ul>
        <li><a href="#nav-primary">Aller au menu principal</a></li>
        <li><a href="#main">Aller au contenu principal</a></li>
      </ul>
    </nav>

    <noscript>
      <div class="alert alert-danger alert-dismissible fade show" role="status">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
        <p class="mb-0"><strong>Jeudi 01 février 2024</strong> : les professionnels de l'inclusion ont rendez-vous de 09h à 17h pour un événement en ligne incontournable. <a href="" class="has-external-link">S’inscrire</a></p>
      </div>
    </noscript>

    <%- include('_sections/header', {headerLogo: 'logo-emploi-inclusion.svg' , headerLogoAlt: 'Les emploi de l inclusion' , modifier: 's-header--emploi' } ) %>

      <main class="s-main" role="main">

        <div class="toast-container">
          <div id="liveToast" class="toast toast--success" role="status" aria-live="polite" aria-atomic="true" data-bs-delay="2000">
            <div class="toast-header">
              <i class="ri-check-line ri-lg me-1" aria-hidden="true"></i>
              <strong class="me-auto">Default Toast</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Fermer"></button>
            </div>
            <div class="toast-body">
              Hello, world! This is a toast message.
              <button class="btn btn-block btn-outline-primary mt-3 d-block d-sm-none" data-bs-dismiss="toast" aria-label="Fermer">
                J'ai compris
              </button>
            </div>
          </div>
        </div>

        <section class="s-title-02">
          <div class="s-title-02__container container">
            <div class="s-title-02__row row">
              <div class="s-title-02__col col-12">
                <div class="c-prevstep">
                  <a href="" class="btn btn-ico btn-link ps-0" aria-label="Retour vers la page xxxx / vers la liste de xxx">
                    <i class="ri-arrow-drop-left-line ri-xl font-weight-medium" aria-hidden="true"></i>
                    <span>Retour</span>
                  </a>
                </div>
                <h1>Title 01</h1>
                <h2>Un exemple avec des niveaux de titres</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
                <div class="c-box c-box--action">
                  <div class="form-row align-items-center gx-3">
                    <div class="form-group col col-lg-auto">
                      <a href="" class="btn btn-lg btn-white btn-block btn-ico">
                        <i class="ri-check-line font-weight-medium" aria-hidden="true"></i>
                        <span>Accepter</span>
                      </a>
                    </div>
                    <div class="form-group col col-lg-auto">
                      <a href="" class="btn btn-lg btn-outline-white btn-block btn-ico">
                        <i class="ri-close-line font-weight-medium" aria-hidden="true"></i>
                        <span>Décliner</span>
                      </a>
                    </div>
                    <div class="form-group col-12 col-lg-auto">
                      <a href="" class="btn btn-lg btn-link-white btn-block btn-ico">
                        <i class="ri-history-line font-weight-medium" aria-hidden="true"></i>
                        <span>Mettre en liste d'attente</span>
                      </a>
                    </div>
                    <div class="form-group col-12 col-lg d-lg-flex justify-content-lg-end">
                      <button id="transfer_to_button" class="btn btn-lg btn-link-white btn-block w-lg-auto dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                        Transférer vers
                      </button>
                      <div class="dropdown-menu" aria-labelledby="transfer_to_button">
                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#transfer_confirmation_modal_3858">
                          <div>
                            <span class="badge badge-xs rounded-pill bg-primary">EI</span> <span>Tata auto</span>
                          </div>
                        </a>
                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#transfer_confirmation_modal_3853">
                          <div>
                            <span class="badge badge-xs rounded-pill bg-primary">EI</span> <span>🎅El Garage Martinet Nord</span>
                          </div>
                        </a>
                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#transfer_confirmation_modal_3854">
                          <div>
                            <span class="badge badge-xs rounded-pill bg-primary">EI</span> <span>🤠 El Garage Martinet Ouest</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="s-section">
          <div class="s-section__container container">
            <div class="s-section__row row">
              <div class="s-section__col col-12">
                <div class="btn-dropdown-filter-group mb-3 mb-md-4">
                  <div class="dropdown">
                    <button type="button" class="btn btn-dropdown-filter dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Un filtre
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                  <div class="dropdown">
                    <button type="button" class="btn btn-dropdown-filter dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Un autre filtre
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                  <button type="button" class="btn btn-ico btn-dropdown-filter" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilters" aria-controls="offcanvasFilters">
                    <i class="ri-sound-module-fill font-weight-bold" aria-hidden="true"></i>
                    <span>Tous les filtres</span>
                  </button>
                  <div class="ms-md-auto">
                    <button type="button" class="btn btn-ico btn-dropdown-filter">
                      <i class="ri-eraser-line font-weight-bold" aria-hidden="true"></i>
                      <span>Effacer tout</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="s-section__row row">
              <div class="s-section__col col-12">
                <h3>Base section content</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
                <p>
                  <button type="button" class="btn btn-sm btn-primary" id="liveToastBtn">Show live toast</button>
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
                <p>Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
                <p>Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
                <p>Maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
                <p id="ancreTest">Ici ancre test ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
                <div class="w-25 badge-group pb-3">
                  <span class="badge badge-sm rounded-pill bg-primary">Machin truc</span>
                  <span class="badge badge-sm rounded-pill bg-primary">Machin trumuche</span>
                  <span class="badge badge-sm rounded-pill bg-primary">
                    <i class="ri-at-line" aria-hidden="true"></i>
                    Machin truc icone
                  </span>
                  <span class="badge badge-sm rounded-pill bg-primary">Machin truc chose</span>
                  <span class="badge badge-sm rounded-pill bg-primary">Machin truc</span>
                  <span class="badge badge-sm rounded-pill bg-primary">Machin truc truc</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
              </div>
            </div>
          </div>
        </section>

        <section class="s-section">
          <div class="s-section__container container">
            <div class="s-section__row row">
              <div class="s-section__col col-12">
                <p>Base section content</p>
              </div>
            </div>
          </div>
        </section>

        <div class="c-offcanvas-filters offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasFiltersLabel" id="offcanvasFilters">
          <div class="offcanvas-header">
            <h4 class="mb-0 btn-ico" id="offcanvasFiltersLabel">
              <i class="ri-sound-module-fill font-weight-medium" aria-hidden="true"></i>
              <span>Filtrer</span>
            </h4>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fermer"></button>
          </div>
          <div class="offcanvas-body">
            <form action="">
              <fieldset>
                <legend>
                  <button class="btn has-collapse-caret" data-bs-toggle="collapse" data-bs-target="#collapseDistance" type="button" aria-expanded="false" aria-controls="collapseDistance">Distance</button>
                </legend>
                <div class="collapse mt-3" id="collapseDistance">
                  <ul>
                    <li>
                      <div class="form-check">
                        <input type="radio" class="form-check-input" name="customRadio1" id="customRadio1Item5">
                        <label class="form-check-label" for="customRadio1Item5">
                          5 km
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="radio" class="form-check-input" name="customRadio1" id="customRadio1Item10">
                        <label class="form-check-label" for="customRadio1Item10">
                          10 km
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="radio" class="form-check-input" name="customRadio1" id="customRadio1Item25">
                        <label class="form-check-label" for="customRadio1Item25">
                          25 km
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </fieldset>
              <hr>
              <fieldset>
                <legend>
                  <button class="btn has-collapse-caret" data-bs-toggle="collapse" data-bs-target="#collapseDepartement" type="button" aria-expanded="false" aria-controls="collapseDepartement">Département</button>
                </legend>
                <div class="collapse mt-3" id="collapseDepartement">
                  <ul>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="customCheck1" id="customCheck1Item1">
                        <label class="form-check-label" for="customCheck1Item1">59 - Nord</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="customCheck1" id="customCheck1Item2">
                        <label class="form-check-label" for="customCheck1Item2">62 - Pas-de-Calais</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </fieldset>
              <hr>
              <fieldset>
                <legend>
                  <button class="btn has-collapse-caret" data-bs-toggle="collapse" data-bs-target="#collapseArrondissements" type="button" aria-expanded="false" aria-controls="collapseArrondissements">Arrondissement</button>
                </legend>
                <div class="collapse mt-3" id="collapseArrondissements">
                  <ul>
                    <li>
                      <div class="form-check">
                        <input type="radio" class="form-check-input" name="customRadio1" id="customRadio1Item1">
                        <label class="form-check-label" for="customRadio1Item1">
                          1
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="radio" class="form-check-input" name="customRadio1" id="customRadio1Item2">
                        <label class="form-check-label" for="customRadio1Item2">
                          2
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="radio" class="form-check-input" name="customRadio1" id="customRadio1Item3">
                        <label class="form-check-label" for="customRadio1Item3">
                          3
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </fieldset>
              <hr>
              <fieldset>
                <legend>
                  <button class="btn has-collapse-caret" data-bs-toggle="collapse" data-bs-target="#collapseType" type="button" aria-expanded="false" aria-controls="collapseType">Types de structure</button>
                </legend>
                <div class="collapse mt-3" id="collapseType">
                  <ul>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="customCheck2" id="customCheck2Item1">
                        <label class="form-check-label" for="customCheck2Item1">EI - Entreprise d'insertion</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="customCheck2" id="customCheck2Item2">
                        <label class="form-check-label" for="customCheck2Item2">AI - Association intermédiaire</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="customCheck2" id="customCheck2Item7">
                        <label class="form-check-label" for="customCheck2Item7">GEIQ - Groupement d'employeurs pour l'insertion et la qualification</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="customCheck2" id="customCheck2Item8">
                        <label class="form-check-label" for="customCheck2Item8">EA - Entreprise adaptée</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="customCheck2" id="customCheck2Item9">
                        <label class="form-check-label" for="customCheck2Item9">EATT - Entreprise adaptée de travail temporaire</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="customCheck2" id="customCheck2Item10">
                        <label class="form-check-label" for="customCheck2Item10">OPCS - Organisation porteuse de la clause sociale</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="offcanvas-footer gap-3">
            <button class="btn btn-block btn-primary">Appliquer</button>
            <button class="btn btn-ico btn-block btn-outline-primary">
              <i class="ri-eraser-line font-weight-medium" aria-hidden="true"></i>
              <span>Effacer tout</span>
            </button>
          </div>
        </div>

      </main>

      <%- include('_sections/footer') %>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script src="javascripts/app.js"></script>

        <script>
          document.getElementById('liveToastBtn').onclick = function () {
            const toastContainer = document.querySelector('.toast-container');
            const toastElList = [].slice.call(toastContainer.querySelectorAll('.toast'));
            let toastList = toastElList.map(function (toastEl) {
              return new bootstrap.Toast(toastEl);
            });
            toastList.forEach(toast => toast.show());
          };
        </script>
  </body>

</html>
