<!DOCTYPE html>

<html lang="fr">

  <head>
    <title>Itou Theme</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="title" content="Itou Theme">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="Itou Theme">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="Itou Theme">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <link rel="shortcut icon" href="images/favico.ico" type="image/ico">
    <link rel="stylesheet" href="stylesheets/app.css">
  </head>

  <body id="top" class="p-home l-not-authenticated">
    <nav role="navigation" aria-label="Accès rapide" tabindex="0" class="visually-hidden">
      <ul>
        <li><a href="#nav-primary">Aller au menu principal</a></li>
        <li><a href="#main">Aller au contenu principal</a></li>
      </ul>
    </nav>

    <div class="global-messages-container">
      <div class="alert alert-danger alert-dismissible fade show" role="status">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
        <p class="mb-0"><strong>Jeudi 01 février 2024</strong> : les professionnels de l'inclusion ont rendez-vous de 09h à 17h pour un événement en ligne incontournable. <a href="" class="has-external-link">S’inscrire</a></p>
      </div>
    </div>

    <%- include('_sections/header') %>

      <main class="s-main" role="main">

        <section class="s-title-02">
          <div class="s-title-02__container container">
              <div class="s-title-02__row row">
                  <div class="s-title-02__col col-12"></div>
              </div>
          </div>
        </section>

        <section class="s-home-search pt-5 pb-6 pt-lg-0">
          <div class="s-home-search__container container">
            <div class="s-home-search__row row">
              <div class="s-home-search__col col-12">
                <h1 class="lh-sm text-center text-tertiary">Rechercher un emploi inclusif</h1>
                <form method="get" action="" role="search" class="s-home-search__form">
                  <div class="row">
                    <div class="col-12">
                      <label for="id_city" class="visually-hidden">Ville</label>
                      <div class="input-group input-group-lg flex-nowrap">
                        <div class="input-group-text bg-white rounded-start ps-0 pe-2">
                          <i class="ri-map-pin-line ri-lg text-disabled" aria-hidden="true"></i>
                        </div>
                        <select name="city" lang="fr" data-minimum-input-length="2" data-theme="bootstrap-5" data-allow-clear="false" class="form-control django-select2 select2-hidden-accessible" data-ajax--url="/autocomplete/cities?select2=&amp;slug=" data-placeholder="Rechercher un emploi inclusif autour de…" required="" id="id_city" data-select2-id="id_city" tabindex="-1" aria-hidden="true">
                        </select><span class="select2 select2-container select2-container--bootstrap-5" dir="ltr" data-select2-id="1" style="width: 246.75px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-id_city-container"><span class="select2-selection__rendered" id="select2-id_city-container" role="textbox" aria-readonly="true"><span class="select2-selection__placeholder">Rechercher un emploi inclusif autour de…</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        <div class="input-group-text bg-white p-0">
                          <button class="btn btn-ico btn-primary" aria-label="Rechercher un emploi inclusif">
                            <i class="ri-search-line font-weight-bold" aria-hidden="true"></i>
                            <span class="d-none d-sm-inline-flex me-0 me-sm-1">Rechercher</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>

        <section class="s-article-figure-01 s-article-figure-01--ltr">
          <div class="s-article-figure-01__container container">
            <div class="s-article-figure-01__row row">
              <div class="s-article-figure-01__col s-article-figure-01__col--figure col-12 col-md-3 col-lg-4 d-flex align-items-center justify-content-center">
                <figure class="w-50 w-md-100">
                  <img src="https://emplois.inclusion.beta.gouv.fr/static/img/home/illustration-01.png" class="img-fluid img-fitcover" alt="">
                </figure>
              </div>
              <div class="s-article-figure-01__col s-article-figure-01__col--article col-12 col-md-9 col-lg-8 d-flex align-items-center">
                <article>
                  <h2 class="h1 text-tertiary">
                    Qu’est-ce que l’inclusion
                    <br class="d-none d-lg-inline">
                    dans l’emploi&nbsp;?
                  </h2>
                  <p>
                    L’inclusion dans l'emploi est un projet de société gouvernemental qui permet aux personnes les plus fragiles de bénéficier de l’accès à l’emploi et à la formation pour s’insérer dans la société par le travail.
                  </p>
                  <a href="" class="btn btn-outline-primary w-100 w-md-auto mb-3 mt-4 has-external-link" target="_blank">En savoir plus</a>
                </article>
              </div>
            </div>
          </div>
        </section>

        <section class="s-section mb-7 mb-lg-9">
          <div class="s-section__container container container-max-lg">
              <div class="s-section__row row">
                  <div class="s-section__col col-12">
                      <h2 class="h1 text-tertiary">Discutez entre professionnels</h2>
                  </div>
              </div>
              <div class="s-section__row row">
                  <div class="s-section__col col-12">
                      <div class="has-bg-communaute rounded-3 p-4 p-md-5 d-flex flex-column flex-md-row align-items-md-center gap-3 gap-md-5">
                          <div>
                              <img src="https://emplois.inclusion.beta.gouv.fr/static/vendor/theme-inclusion/images/logo-communaute-inclusion.svg" height="80" alt="">
                          </div>
                          <div>
                              <a href="" class="btn btn-outline-primary has-external-link" target="_blank">Découvrir</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </section>

        <section class="s-article-figure-01">
          <div class="s-article-figure-01__container container">
            <div class="s-article-figure-01__row row">
              <div class="s-article-figure-01__col s-article-figure-01__col--figure col-12 col-md-3 col-lg-4 d-flex align-items-center justify-content-center">
                <figure class="w-50 w-md-100">
                  <img src="https://emplois.inclusion.beta.gouv.fr/static/img/home/illustration-02.png" class="img-fluid img-fitcover" alt="">
                </figure>
              </div>
              <div class="s-article-figure-01__col s-article-figure-01__col--article col-12 col-md-9 col-lg-8 d-flex align-items-center">
                <article>
                  <h2 class="h1 text-tertiary">Nos missions</h2>
                  <p>
                    Ce service facilite la mise en relation des personnes les plus éloignées de l'emploi avec les employeurs inclusifs (SIAE, GEIQ, EA, EATT et facilitateurs de clauses sociales) et les accompagnants (orienteurs et prescripteurs habilités).
                  </p>
                  <p>
                    Il offre aux utilisateurs un outil numérique mutualisé pour simplifier les procédures, fluidifier les parcours d'insertion entre professionnels et renforcer la qualité de l'accompagnement des personnes.
                  </p>
                </article>
              </div>
            </div>
          </div>
        </section>

      </main>

      <%- include('_sections/footer') %>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script src="javascripts/app.js"></script>
  </body>

</html>
