.s-article-picture-01 {
  padding-top: map-get($spacers, 6);
  padding-bottom: map-get($spacers, 4);

  @include media-breakpoint-up(lg) {
    padding-top: map-get($spacers, 6);
    padding-bottom: map-get($spacers, 6);
  }

  &__container {
    max-width: map-get($container-max-widths, 'lg');
  }

  &__col {
    &--article {
      article {
        @extend .w-100;
      }

      h2 {
        position: relative;
        @extend .mb-2;

        &:after {
          content: '';
          display: block;
          width: 50px;
          height: 10px;
          background-color: $cyan;
          border-radius: 5px;
          @extend .mt-3;
        }
      }

      p {
        margin-bottom: map-get($spacers, 4);
      }
    }

    &--figure {
      figure {
        @extend .mb-3;

        @include media-breakpoint-up(lg) {
          margin-bottom: 0 !important;
        }
      }
    }

    &__cta {
      @extend .mb-0;
      text-align: center;

      @include media-breakpoint-up(lg) {
        text-align: left;
      }
    }
  }
}
