.s-articles-cols-01 {
  padding-top: map-get($spacers, 4);
  padding-bottom: map-get($spacers, 4);

  @include media-breakpoint-up(lg) {
    padding-top: map-get($spacers, 5);
    padding-bottom: map-get($spacers, 6);
  }

  &__container {
    position: relative;
    max-width: map-get($container-max-widths, "xl");
  }

  &__col {
    &--title {
      .h3,
      .h2 {
        margin-bottom: map-get($spacers, 3);

        @include media-breakpoint-up(lg) {
          margin-bottom: map-get($spacers, 5);
        }
      }
    }

    &--article {
      > article {
        margin-bottom: map-get($spacers, 5);
      }

      p + ul {
        margin-top: - map-get($spacers, 3);
      }
    }
  }
}
