.s-banner-01 {

  &__container {
    max-width: map-get($container-max-widths, 'lg') !important;
  }

  &__col {
    border-radius: $border-radius-lg;
    background-color: $gray-400;
    padding: map-get($spacers, 3);

    @include media-breakpoint-up(md) {
      padding: map-get($spacers, 4);
    }
  }
}
