.s-banner-01 {

  &__col {
    border-radius: $border-radius-lg;
    background-color: $gray-400;
    padding: map-get($spacers, 3);

    @include media-breakpoint-up(md) {
      padding: map-get($spacers, 4);
    }
  }
}
