.s-footer {
  background-color: $white;
}

.s-footer-help {
  padding-top: map-get($spacers, 3);
  font-size: $font-size-base;
  color: $white;
  background-color: $primary;

  &__container {
    max-width: map-get($container-max-widths, 'xl');
  }

  &__col {
    padding-bottom: map-get($spacers, 3);
  }

  a,
  a:hover,
  a:focus,
  a:link {
    @extend .text-decoration-none;
    font-weight: $font-weight-bold;
    color: $white;
    display: inline-block;

    &.is-external {
      @include picto-external-link($white);
    }
  }

  ul {
    @extend .list-unstyled;
    @extend .list-inline;
    @extend .mb-0;
    @extend .p-0;

    li {
      display: inline-flex;
      @extend .align-items-center;
      @extend .mr-2;
      margin-bottom: 0;
    }
  }

  nav ul  li {
    display: flex;
    @extend .align-items-center;
    @extend .mr-3;
    margin-bottom: map-get($spacers, 2);

    @include media-breakpoint-up(sm) {
      display: inline-flex;
      margin-bottom: 0;
    }
  }
}

.s-footer-nav {
  padding-top : map-get($spacers, 3);
  color: $black;

  @include media-breakpoint-up(lg) {
    padding-top : map-get($spacers, 3);
    padding-bottom : map-get($spacers, 3);
  }

  &__container {
    max-width: map-get($container-max-widths, 'xl');
  }

  &__col {
    margin-bottom: map-get($spacers, 3);

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }

  &__logo {
    transform: translateX(-1rem);

    @include media-breakpoint-up(lg) {
      transform: translateX(-22px);
    }
  }

  ul {
    @extend .d-flex;
    flex-direction: column;
    @extend .list-unstyled;
    @extend .list-inline;
    @extend .mb-0;
    @extend .p-0;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      justify-content: space-between;
    }

    li {
      @extend .list-inline-item;
      @extend .mb-2;
    }
  }

  a,
  a:hover,
  a:focus,
  a:link {
    @extend .text-decoration-none;
    font-weight: $font-weight-bold;
    color: $black;
  }
}

.s-footer-legal {
  padding: map-get($spacers, 3) 0;
  font-size: $font-size-xs;
  color: $gray-300;

  &__container {
    max-width: map-get($container-max-widths, 'xl');
  }

  a,
  a:hover,
  a:focus,
  a:link {
    color: $gray-300;
    line-height: 1;
    @extend .text-decoration-none;
  }

  ul {
    @extend .list-unstyled;
    @extend .list-inline;
    @extend .mb-0;
    @extend .p-0;

    li {
      display: block;
      @extend .mr-2;
      margin-bottom: map-get($spacers, 2);

      @include media-breakpoint-up(sm) {
        display: inline-block;
        margin-bottom: map-get($spacers, 3);
      }

      &:after {
        content: '|';
        @extend .ml-2;
        color: $gray-200;
        display: none;

        @include media-breakpoint-up(sm) {
          display: inline-block;
        }
      }

      &:last-child:after {
        display: none;
      }
    }

    span {
      display: inline-block;
      @extend .mb-3;
    }
  }
}
