#header {
  @extend .sticky-top;
  background-color: $white;
  box-shadow: $offcanvas-box-shadow;
}

.s-header-print {
  display: none;
}

.s-header {
  background-color: $white;
  position: relative;
  z-index: 1;

  &__col {
    min-height: $header-height-mobile;

    @include media-breakpoint-up(xl) {
      min-height: $header-height;
    }

    &--logo-ministere {
      img {
        height: auto;
        max-width: 80px;
        transform: translateX(-10px);

        @include media-breakpoint-up(xl) {
          max-width: 90px;
          transform: translateX(-12px);
        }
      }
    }

    &--logo-service {
      img {
        height: auto;
        max-width: 140px;

        @include media-breakpoint-up(xl) {
          max-width: 180px;
        }
      }
    }

    &--nav {
      .dropdown-structure {
        width: 300px;
      }

      > nav {
        > ul {
          @extend .list-inline;
          @extend .list-unstyled;
          @extend .m-0;
          @extend .p-0;
          width: 100%;

          > li {
            @extend .list-inline-item;
            @extend .p-0;
            @extend .me-0;
            @extend .ms-3;
          }
        }
      }
    }

    &--burger {
      i {
        font-size: 1.25rem !important;
      }
    }
  }
}

.s-header-authenticated {
  background-color: $nuance-10;
  position: relative;

  @include media-breakpoint-up(xl) {
    display: none;
  }

  &__col {
    min-height: $header-height-mobile;

    @include media-breakpoint-up(xl) {
      min-height: $header-height;
    }

    &--logo-service {
      img {
        height: auto;
        max-width: 140px;

        @include media-breakpoint-up(xl) {
          max-width: 180px;
        }
      }
    }

    &--nav {
      .dropdown-structure {
        width: 300px;
      }

      > nav {
        > ul {
          @extend .list-inline;
          @extend .list-unstyled;
          @extend .m-0;
          @extend .p-0;
          width: 100%;

          > li {
            @extend .list-inline-item;
            @extend .p-0;
            @extend .me-0;
            @extend .ms-3;
          }
        }
      }
    }

    &--burger {
      i {
        font-size: 1.25rem !important;
      }
    }
  }
}

#offcanvasNav {
  top: 0;
  right: 0;
  width: $offcanvas-horizontal-width;
  border-left: $offcanvas-border-width solid $offcanvas-border-color;
  transform: translateX(100%);

  &.show:not(.hiding),
  &.showing {
    transform: none;
  }

  &.hiding,
  &.show,
  &.showing {
    visibility: visible;
  }

  .offcanvas-header {
    position: relative;
    justify-content: space-between;

    i {
      font-size: 1.25rem;
    }

    &--structure {
      @extend .py-0;
      @extend .align-items-stretch;

      button.dropdown-toggle {
        > *,
        &::after {
          z-index: 0;
        }

        &:hover {
          &::before {
            background-color: $nuance-10;

            @include media-breakpoint-up(xl) {
              background-color: $nuance-09;
            }
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          z-index: -1;
          transition: background-color 0.15s ease-in-out;
          left: -24px;
          right: 0;

          @include media-breakpoint-up(xl) {
            right: -24px;
          }
        }
      }
    }
  }

  .offcanvas-body {
    .nav-tabs {
      @extend .gap-3;
    }

    .nav-link {
      @extend .py-2;
      @extend .pe-0;

      > i {
        @extend .me-2;
        font-size: 1.5rem;
      }

      &.active {
        font-weight: $font-weight-bold;
      }

      &.has-collapse-caret {
        &[aria-expanded="true"] {
          font-weight: $font-weight-bold;
        }

        > span {
          flex-grow: 1;
        }
      }

      + .collapsing > ul,
      + .collapse > ul {
        @extend .list-unstyled;
        margin-left: 50px;

        li {
          @extend .py-2;
        }

        a {
          display: block;
          text-decoration: none;

          &.active {
            font-weight: $font-weight-bold;
          }
        }
      }
    }
  }

  .offcanvas-footer {
    &__legal {
      color: $nuance-04;
      font-size: $font-size-xs;
      text-align: center;

      ul {
        @extend .list-unstyled;
        @extend .list-inline;
        @extend .mb-0;
        @extend .p-0;

        li {
          display: inline-block;

          &:not(:last-child) {
            padding-right: map-get($spacers, 2);
            margin-right: map-get($spacers, 2);
            border-right: 1px solid $border-color;
          }
        }

        a,
        a:hover,
        a:focus,
        a:link {
          color: $nuance-04;
          line-height: 1;
          @extend .text-decoration-none;

          &[target="_blank"] {
            @extend .has-external-link;
          }
        }

        a:hover {
          @extend .text-decoration-underline;
        }
      }
    }
  }

  .dropdown-menu {
    max-width: 100%;

    .dropdown-item {
      white-space: initial;
    }
  }
}
