#header {
  #offcanvasNav {
    nav {
      > ul {
        @extend .list-unstyled;
        @extend .m-0;
        width: 100%;

        > li {
          @extend .d-block;
          @extend .p-0;
          margin-bottom: map-get($spacers , 3);
        }

        + ul {
          @extend .list-unstyled;
          @extend .m-0;

          > li > a {
            @extend .d-inline-block;
            @extend .text-decoration-none;
            @extend .py-1;

            &.is-active {
              color: $button;
              border-bottom: 1px solid $button;
            }
          }
        }
      }
    }
  }
}

.s-header-not-authenticated {
  background-color: $white;
  position: relative;
  z-index: 1;

  &__col {
    min-height: $header-height-mobile;

    @include media-breakpoint-up(xl) {
      min-height: $header-height;
    }

    &--logo-ministere {
      img {
        height: auto;
        max-width: 80px;
        transform: translateX(-10px);

        @include media-breakpoint-up(xl) {
          max-width: 100px;
          transform: translateX(-12px);
        }
      }
    }

    &--logo-service {
      img {
        height: auto;
        max-width: 150px;

        @include media-breakpoint-up(xl) {
          max-width: 190px;
        }
      }
    }

    &--nav {
      .dropdown-structure {
        width: 300px;
      }

      > nav {
        > ul {
          @extend .list-inline;
          @extend .list-unstyled;
          @extend .m-0;
          @extend .p-0;
          width: 100%;

          > li {
            @extend .list-inline-item;
            @extend .p-0;
            //@extend .m-0;
            @extend .me-3;

            &:last-child {
              @extend .me-0;
            }
          }
        }
      }
    }

    &--title {
      span {
        @extend .mb-0;
        @extend .me-3;
        font-size: $h4-font-size;
      }
    }
  }
}
