#header {
  #offcanvasNav {
    top: 0;
    right: 0;
    width: $offcanvas-horizontal-width;
    border-left: $offcanvas-border-width solid $offcanvas-border-color;
    transform: translateX(100%);

    &.show:not(.hiding),
    &.showing {
      transform: none;
    }

    &.hiding,
    &.show,
    &.showing {
      visibility: visible;
    }

    .offcanvas-header {
      i {
        font-size: 1.25rem;
      }
    }

    .offcanvas-body {

      .nav-tabs {
        @extend .gap-3;
      }

      .nav-link {
        @extend .py-2;
        font-weight: $font-weight-bold;

        > i {
          @extend .me-2;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.s-header-not-authenticated {
  background-color: $white;
  position: relative;
  z-index: 1;

  &__col {
    min-height: $header-height-mobile;

    @include media-breakpoint-up(xl) {
      min-height: $header-height;
    }

    &--logo-ministere {
      img {
        height: auto;
        max-width: 80px;
        transform: translateX(-10px);

        @include media-breakpoint-up(xl) {
          max-width: 90px;
          transform: translateX(-12px);
        }
      }
    }

    &--logo-service {
      img {
        height: auto;
        max-width: 140px;

        @include media-breakpoint-up(xl) {
          max-width: 180px;
        }
      }
    }

    &--nav {
      .dropdown-structure {
        width: 300px;
      }

      > nav {
        > ul {
          @extend .list-inline;
          @extend .list-unstyled;
          @extend .m-0;
          @extend .p-0;
          width: 100%;

          > li {
            @extend .list-inline-item;
            @extend .p-0;
            //@extend .m-0;
            @extend .me-3;

            &:last-child {
              @extend .me-0;
            }
          }
        }
      }
    }

    &--burger {
      i {
        font-size: 1.25rem !important;
      }
    }

    &--title {
      span {
        @extend .mb-0;
        @extend .me-3;
        font-size: $h4-font-size;
      }
    }
  }
}
