.s-tabs-01 {
  margin-top: map-get($spacers, 4);
  margin-bottom: map-get($spacers, 4);

  @include media-breakpoint-up(lg) {
    margin-top: map-get($spacers, 5);
    margin-bottom: map-get($spacers, 6);
  }

  .nav-tabs {
    @extend .p-0;
    @extend .flex-nowrap;

    .nav-item {

      .nav-link {
        display: flex;
        @extend .flex-nowrap;
        align-items: center;
        min-height: $input-height-lg;

        > i {
          font-size: 1rem !important;
        }

        &:hover:not(.active),
        &:focus:not(.active) {
          color: $button;
          background-color: $nav-tabs-link-active-bg;
          border-color: $nav-tabs-link-active-bg;
        }
      }
    }

    .nav-item-dropdown {
      @extend .nav-item;
      visibility: hidden;

      .nav-link {

        &::after {
          display: none;
        }

        &:hover:not(.active),
        &:focus:not(.active) {
          border-color: $nav-tabs-link-active-bg;
        }

        // &:has(+ .dropdown-menu a.active) {
        //   border-color: $button;
        // }
      }

      .dropdown-menu a {
        @extend .dropdown-item;
      }
    }
  }

  .tab-content {
    position: relative;
    z-index: 1;
    border-top: 1px solid $border-color;
    padding-top: map-get($spacers, 4);

    @include media-breakpoint-up(lg) {
      padding-top: map-get($spacers, 5);
    }
  }
}
