.s-tabs-01 {
  margin-top: map-get($spacers, 4);
  margin-bottom: map-get($spacers, 4);

  @include media-breakpoint-up(lg) {
    margin-top: map-get($spacers, 5);
    margin-bottom: map-get($spacers, 6);
  }

  .nav-tabs {
    @extend .p-0;

    .nav-item {

      .nav-link {

        &:hover:not(.active),
        &:focus:not(.active) {
          color: $button;
          background-color: $nav-tabs-link-active-bg;
          border-color: $nuance-08;
        }
      }
    }
  }

  .tab-content {
    position: relative;
    z-index: 1;
    border-top: 1px solid $border-color;
    padding-top: map-get($spacers, 4);

    @include media-breakpoint-up(lg) {
      padding-top: map-get($spacers, 5);
    }
  }
}
