.s-title-02 {
  position: relative;
  padding-top: map-get($spacers, 4);
  margin-bottom: map-get($spacers, 4);

  @include media-breakpoint-up(lg) {
    margin-bottom: map-get($spacers, 5);
  }

  &:not(.s-title-02:has(.s-title-02__col > *)) {
    display: none;
  }

  &__container {
    &::after {
      content: '';
      display: block;
      height: 1px;
      background-color: $border-color;
      width: 100%;
    }
  }

  &__col {
    > * {
      margin-bottom: map-get($spacers, 3);
    }

    > *:last-child:not(.c-navbar) {
      margin-bottom: map-get($spacers, 4);

      @include media-breakpoint-up(lg) {
        margin-bottom: map-get($spacers, 5);
      }
    }

    > .tns-outer {
      margin: 0 !important;

      .tns-controls {
        [data-controls='prev'] {
          box-shadow: $box-shadow-sm;
          left: map-get($spacers, 2);
        }
        [data-controls='next'] {
          box-shadow: $box-shadow-sm;
          right: map-get($spacers, 2);
        }
      }
    }
  }
}
