<header class="bg-primary py-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="/" class="lead text-white mb-0">Itou Styleguide</a>
      </div>
    </div>
  </div>
</header>
